<div class="fill">
  <h2>Re envío de confirmación</h2>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <fieldset class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:'form-control', autofocus: true %>
    </fieldset>

	  <fieldset class='form-group',>
      <%= f.submit "enviar", class:'btn btn-primary' %>
    </fieldset>
	<% end %>

	<%= render "devise/shared/links" %>
</div>