<% content_for :title, 'Como comprar' %>
<% navigation_add 'Como comprar', '#' %>
<div class="center-section">
  <h3>Como comprar</h3>
</div>
<div class="privacy">
  <div class="privacy1">
    <h3>Recordá que...</h3>
    <div class="banner-bottom-grid1 privacy2-grid">
      <div class="privacy2-grid1">
        <p>Para poder comprar <b>tenés que estar registrado/a y pertenecer a un círculo de asociados/as</b>.
          Un círculo es un grupo de dos -2- personas o más que están registradas en nuestra página.
          A cada una de esas personas se las denomina “asociado/a”. Click aquí para más información</p>
        <div class="privacy2-grid1-sub">
          <p>
            - Clic
            <%= link_to sign_up_usuarios_path do %>
              aquí
            <% end %>
            para registrarse -.
          </p>
          <p>
            - Ya estoy registrado/a pero no tengo círculo. ¿Cómo hago? -.
          </p>
        </div>
        <div class="privacy2-grid1-sub">
          <h4>Comprá en 3 simples pasos</h4>
        </div>
        <div class="privacy2-grid1-sub">
          <div class="col-sm-8">
            <h5>Hacés tu pedido</h5>
            <div class="col-sm-12">
              <p><b>Una vez cada 4 semanas</b> vas a tener 4 días (de jueves a domingo), para entrar a nuestra tienda y hacer
                tu pedido. <b>¡Tenemos más de 350 productos!</b>.
              </p>
            </div>
            <div class="col-sm-8">
              <ul>
                <li><small><i>Te vamos a avisar con anticipación por mail y whatsapp así no te olvidás.</i></small></li>
                <li><small><i>No hay límite máximo ni mínimo para pedir.</i></small></li>
                <li><small><i>Cada integrante del círculo hace su propio pedido.</i></small></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <%= image_tag 'v2/clic-comprar.png', class: 'img-responsive' %>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
              <%= image_tag 'v2/lineRtoL-comprar.png', class: 'img-responsive' %>
            </div>
          </div>

        </div>
        <div class="privacy2-grid1-sub">
          <div class="col-sm-4">
            <%= image_tag 'v2/pagas-comprar.png', class: 'img-responsive' %>
          </div>
          <div class="col-sm-8">
            <h5>Pagás</h5>
            <div class="col-sm-12">
              <p>Dos días después de cerrarse la tienda te vamos a informar por mail y whatsapp cuánto tienen que
                pagar por la compra y las formas para hacerlo.</b>
              </p>
            </div>
            <div class="col-sm-12">
              <ul>
                <li><small><i>Cada círculo paga además del pedido una cuota mensual que se divide entre lxs integrantes.
                  ¡Mientras más sean menos van a pagar! ¿Por qué pagar una cuota mensual?</i></small></li>
                <li><small><i>Las formas de pago son depósito bancario y/o transferencia. Próximamente tendremos más opciones</i></small></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-2">
            <%= image_tag 'v2/lineLtoR-comprar.png', class: 'img-responsive' %>
          </div>
        </div>
        <div class="privacy2-grid1-sub">
          <div class="col-sm-8">
            <h5>Retirás</h5>
            <div class="col-sm-12">
              <p>Siete días después de hacer tu pedido pasás a retirarlo por el
                <%= link_to 'punto de retiro', warehouse_path %> que eligió tu grupo.
                El día de retiro es siempre un sábado. Para que no te olvides también te vamos a avisar con anticipación por whatsapp.
              </p>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ul>
                  <li><small><i>Se retira el pedido de todo el círculo. Es suficiente con que vaya un solo
                    integrante a retirarlo.</i></small></li>
                </ul>
              </div>
            </div>
          </div>
          <br>
          <div class="col-sm-4">
            <%= image_tag 'v2/retiras-comprar.png', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="clearfix"></div>
  <br>
  <br>

  <div class="privacy1">
    <h3>Círculos</h3>
    <h4></h4>
    <div class="banner-bottom-grid1 privacy1-grid">
      <ul>
        <li>
          <div class="col-sm-1">
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </div>
          <div class="col-sm-10">
            ¿Qué es un círculo?
            <span>
              Es un grupo de dos -2- personas o más que están registra- das en la
              web (el máximo de integrantes es cinco -5-). A cada una de esas personas se las denomina “asociado/a”.
              Puede crearse entre familiares, amigues, compañerxs de trabajo, etc.
            </span>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="col-sm-1">
            <i class="fa fa-cog" aria-hidden="true"></i>
          </div>
          <div class="col-sm-10">
            ¿Cómo se crea un círculo?
            <span>
              Una de las personas debe crearlo y asumirá el rol de <b>coordinador/a de círculo</b>
              (fundamentalmente cumple la función de ser el nexo entre la Misión y el resto del grupo).
              Luego puede agregar al resto de los integrantes.
            </span>
            <p>
              <small>
                <i><%= link_to 'Registrarse', sign_up_usuarios_path %></i>
              </small>
            </p>
          </div>
          <br>
          <br>
          <div class="col-md-12 steps">
            <div class="col-md-3">
              <div class="numberCircle">1</div>
              <span><b>Luego de registrarse</b>, la persona que vaya a coordinar debe crear el círculo desde la
              sección “Mi círculo”</span>
            </div>
            <div class="col-md-1">

                <i class="fa fa-angle-double-right" aria-hidden="true"></i>

            </div>
            <div class="col-md-3">
              <div class="col-md-12">
                <div class="numberCircle">2</div>
              </div>
              <div class="col-md-12">
                <span><b>Para agregar un asociade a su círculo</b> el coordinador/a debe ingresar su número de
                  usuario en la sección “Mi círculo”</span>
              </div>
            </div>
            <div class="col-md-1">

                <i class="fa fa-angle-double-right" aria-hidden="true"></i>

            </div>
            <div class="col-md-3">
              <div class="col-md-12">
                <div class="numberCircle">3</div>
              </div>
              <div class="col-md-12">
                <span><b>Para sumarse a un círculo existente</b> el asociade puede solicitar el ingreso desde
                  la sección “Mi círculo”</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="col-sm-1">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
          </div>
          <div class="col-sm-10">
            ¿Por qué hay que formar parte de un
            círculo para comprar?
            <span>
              Porque creemos que para hacerle frente a problemas concretos como
              la inflación, es mejor hacerlo organizado y junto con otres. Es salir del consumo individual al que
              estamos acostumbrades e ingresar en el <b>consumo colaborativo</b>, es decir, un consumo basado en los lazos y
              la solidaridad entre pares.
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //privacy -->
<div class="clearfix"></div>