<%= form_for @circulo, :html => { :class => 'form-horizontal circulo' }  do |f| %>
  <% if @circulo.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circulo.errors.count, "error") %> El Círculo no pudo ser guardado:</h2>

      <ul>
      <% @circulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group row">
    <%= f.label :coordinador_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :coordinador_id,
                         value: params[:id].present? ? params[:id]  : '' ,
                         readonly: params[:id].present? ? true  : false,
                         class: 'form-control' %>
    </div>
  </div>
  <div class="control-group row">
    <%= f.label :warehouse, for:'warehouse', :class => 'control-label'  %>
    <div class="controls">
      <%= f.select(:warehouse_id,
                   options_for_select(Warehouse.all.map{|s| [s.name + " (#{s.address})",s.id]},@circulo[:warehouse_id]),
                   { include_blank: 'Elija Distrito a retirar'},
                   class: 'form-control') %>

    </div>
  </div>
  <br>
  <br>
  <div class="control-group row">
    <div class="offset-sm-2 col-sm-10">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
