<%= form_for @circulo do |f| %>
  <% if @circulo.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circulo.errors.count, "error") %> El Círculo no pudo ser guardado:</h2>

      <ul>
      <% @circulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_usuario.admin? %>
    <div class="form-group">
      <p>Tipo de círculo</p>
      <%= f.radio_button :special_type, 0, :checked => @circulo.special_type == false %>
      <%= f.label :special_type, 'Común'%>
      <%= f.radio_button :special_type, 1,
                         :checked => @circulo.special_type == true %>
      <%= f.label :special_type, 'Circulo especial'%>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :coordinador_id, :class => 'control-label' %>
    <% if current_usuario.admin? %>
      <%= f.number_field :coordinador_id,
                         class: 'form-control required' %>
    <% else %>
      <%= f.number_field :coordinador_id,
                         value: params[:id].present? ? params[:id]  : '' ,
                         readonly: (params[:id].present? or !current_usuario.admin?)  ? true  : false,
                         class: 'form-control required' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :warehouse, for:'warehouse', :class => 'control-label'  %>
    <%= f.select(:warehouse_id,
                 options_for_select(Warehouse.all.map{|s| [s.name + " (#{s.address})",s.id]},@circulo[:warehouse_id]),
                 { include_blank: 'Elija Distrito a retirar'},
                 class: 'form-control required') %>
  </div>
  <div class="form-group">
    <% if current_usuario.present? and !current_usuario.admin? %>
      <label>Enviar invitaciones</label>
      <input id="email_invitado_1" name="email_invitado_1" type="email" class="form-control" placeholder="Email invitado 1" />
      <input id="email_invitado_2" name="email_invitado_2" type="email" class="form-control" placeholder="Email invitado 2" />
      <input id="email_invitado_3" name="email_invitado_3" type="email" class="form-control" placeholder="Email invitado 3" />
      <input id="email_invitado_4" name="email_invitado_4" type="email" class="form-control" placeholder="Email invitado 4" />
    <% end %>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="control-group">
      <div class="col-md-12 text-right">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
  </div>

<% end %>
