<%= form_for(@circulo) do |f| %>
  <% if @circulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circulo.errors.count, "error") %> prohibited this circulo from being saved:</h2>

      <ul>
      <% @circulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coordinador_id %><br>
    <%= f.number_field :coordinador_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
