<div class="agile-grids">
  <div class="agile-tables">
    <div class="w3l-table-info">
      <div class="navbar navs-fixed">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_circulo_path,
                    :class => 'btn btn-primary' if can? [:manage], Circulo %>

        <%= link_to "Exportar CSV", circulos_path(format: "csv"), class: "btn btn-success btn-xs" %>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Nro Circulo</th>
            <th>Coordinador</th>
            <th>Distrito</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @circulos.each do |circulo| %>
            <tr>
              <td><%= circulo.id %></td>
              <td><%= circulo.try('coordinador').try('nombre_completo') || 'Sin Coordinador' %></td>
              <td><%= circulo.try('warehouse_id') ? circulo.warehouse.name : '' %></td>
              <td><%= link_to 'Mostrar', circulo, class: "btn btn-default btn-xs" %></td>
              <td><%= link_to 'Editar', edit_circulo_path(circulo), class: "btn btn-default btn-xs" %></td>
              <td><%= link_to 'Eliminar', circulo, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-danger btn-xs"  %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if @circulos.present? && @circulos.count > 50 %>
      <div class="row">
        <%= will_paginate @circulos %>
      </div>
    <% end %>
  </div>
</div>