<h1>Listing circulos</h1>

<table>
  <thead>
    <tr>
      <th>coordinador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circulos.each do |circulo| %>
      <tr>
        <td><%= circulo.coordinador_id %></td>
        <td><%= link_to 'Show', circulo %></td>
        <td><%= link_to 'Edit', edit_circulo_path(circulo) %></td>
        <td><%= link_to 'Destroy', circulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Circulo', new_circulo_path %>
