<%= javascript_include_tag 'app/javascript/src/sign_up' %>
<% content_for :title, 'Registrarse' %>
<% navigation_add 'Registrarse', '#' %>
  <div class="w3_login">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
    <h3>Registrarse</h3>
    <div class="w3_login_module">
      <div class="module form-module">
        <div class="toggle">
        </div>
        <div class="form">
          <h2>Crear mi cuenta</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: 'form') do |f| %>

            <div class="form-group">
              <label for="email">Correo Electrónico <span>*</span></label>
              <%= f.email_field :email, autofocus: true, class: 'form-control required',
                                :require => true, placeholder: 'ejemplo: tucorreo@gmail.com'%>
            </div>

            <div class="form-group">
              <label for="passOne">Contraseña <span>*</span></label>
              <%= f.password_field :password, autocomplete: 'off',  class: 'form-control required',
                                   :require => true, placeholder: '8 (ocho) caracteres como mínimo'%>
            </div>
            <div class="form-group">
              <label for="passTwo">Repetir Contraseña <span>*</span></label>
              <%= f.password_field :password_confirmation, autocomplete: 'off',  class: 'form-control required',
                                   :require => true, placeholder: 'repita su password'%>
            </div>
            <div class="form-group">
              <input class="required" type="checkbox" checked="" name="terminos" id="term">
              <label for="term" style="line-height: 26px; padding-top: 24px">
                Acepto los
                <%= link_to  'términos y condiciones.', '#terminos', 'data-toggle' =>'modal'%>
              </label>
            </div>
            <div class="form-group">
              <% Role.all.each do |role| %>
                <% if role.name == 'Usuario' %>
                  <%= hidden_field_tag 'usuario[role_ids][]', role.id %>
                <% end %>
              <% end %>
            </div>
            <div class="form-group">
              <div><%= f.submit 'Registrate', class: 'btn btn-success pull-right ' %></div>
            </div>

          <% end %>
          <br>
          <br>
        </div>
        <div class="form">

        </div>
        <div class="cta">
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>


<!--modal términos y condiciones-->
<div class="modal fade" id="terminos"  role="dialog" aria-labelledby="terminos" aria-hidden="true">
  <div class="modal-dialog">
    <%= render 'terms_conditions/terms_conditions' %>
  </div>
</div>