<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<style type="text/css">

	</style>
	<!--[if (gte mso 9)|(IE)]>
	<style type="text/css">
		table {border-collapse: collapse !important;}
	</style>
	<![endif]-->
	<style type="text/css">

		body {
			Margin: 0;
			padding: 0;
			min-width: 100%;
			background-color: #ffffff;
		}
		table {
			border-spacing: 0;
			font-family: sans-serif;
			color: #333333;
		}
		td {
			padding: 0;
		}
		img {
			border: 0;
		}
		.basket, .calendar{
			width: 15px;
			height: 15px;
		}
		.wrapper {
			width: 100%;
			table-layout: fixed;
			margin-left: auto;
			margin-right: auto;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}
		.webkit {
			max-width: 600px;
		}

		.outer {
			Margin: 0 auto;
			width: 100%;
			max-width: 600px;
		}

		.full-width-image img {
			width: 100%;
			height: auto;
		}
		.inner {
			padding: 10px;
		}
		p {
			Margin: 0;
		}
		a {
			color: #ee6a56;
			text-decoration: underline;
		}
		.h1 {
			font-size: 21px;
			font-weight: bold;
			Margin-bottom: 18px;
		}
		.h2 {
			font-size: 18px;
			font-weight: bold;
			Margin-bottom: 12px;
		}


		.one-column .contents {
			text-align: left;
		}
		.one-column p {
			font-size: 14px;
			Margin-bottom: 10px;
		}


		.two-column {
			text-align: center;
			font-size: 0;
		}
		.two-column .column {
			width: 100%;
			max-width: 300px;
			display: inline-block;
			vertical-align: top;
		}

		.contents {
			width: 100%;
		}
		.two-column .contents {
			font-size: 14px;
			text-align: left;
		}
		.two-column img {
			width: 100%;
			height: auto;
		}
		.two-column .text {
			padding-top: 10px;
		}


		.three-column {
			text-align: center;
			font-size: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.three-column .column {
			width: 100%;
			max-width: 200px;
			display: inline-block;
			vertical-align: top;
		}
		.three-column .contents {
			font-size: 14px;
			text-align: center;
		}
		.three-column img {
			width: 100%;
			height: auto;
		}
		.three-column .text {
			padding-top: 10px;
		}


		@-ms-viewport {
			width: device-width;
		}

	</style>
</head>
<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff;" >
<div class="wrapper" style="width:100%;table-layout:fixed;margin-left:auto;margin-right:auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
	<div class="webkit" style="max-width:600px;" >
		<!--[if (gte mso 9)|(IE)]>
		<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
			<tr>
				<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
		<![endif]-->
		<table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;" >
			<tr style="background-color: #eb1c23">
				<td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;" >
					<!--[if (gte mso 9)|(IE)]>
					<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
						<tr>
							<td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<![endif]-->
					<div class="column" style="width:100%;max-width:300px;display:inline-block;vertical-align:top;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;" >
										<tr>
											<td class="text" style="padding-bottom:0;padding-right:10px;padding-left:5px;padding-top:10px;border-right:solid 2px #ffffff">
												<%= image_tag attachments['headerlogo'].url, class: 'logo' -%>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<!--[if (gte mso 9)|(IE)]>
					</td>
					<td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<![endif]-->
					<div class="column" style="width:100%;max-width:300px;display:inline-block;vertical-align:top;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;" >
										<tr>
											<td class="text" style="padding-bottom:0;padding-right:0;padding-left:0;padding-top:10px;" >
												<h2 style="color:#FFF;font-size:16px" >Pronto comienza un nuevo ciclo de compra</h2>
												<p style="color:#FFF;font-size:14px" >¡NO TE QUEDES AFUERA!</p>
											</td>
											<td>
												<%= image_tag attachments['headerbasket'].url, size:'15', class: 'basket' -%>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<!--[if (gte mso 9)|(IE)]>
					</td>
					</tr>
					</table>
					<![endif]-->
				</td>
			</tr>
			<tr>
				<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#FFFFFF;background-color:#404041" >
						<tr>
							<td class="inner contents" style="padding-top:5px;padding-bottom:0px;padding-right:5px;padding-left:5px;width:100%;text-align:center;" >
								<p class="h1" style="font-weight:bold;font-size:14px;Margin-bottom:10px;">
									<%= @coordinador.try('nombre') %> RECORDÁ QUE TÚ CÍRCULO PERTENECE A <%= @compra.nombre%>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;" >
					<!--[if (gte mso 9)|(IE)]>
					<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
						<tr>
							<td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<![endif]-->
					<div class="column" style="width:100%;max-width:300px;display:inline-block;vertical-align:top;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;" >
										<tr>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
												<%= image_tag attachments['bodycalendar'].url, class: 'calendar' -%>
											<td>
												<h2 style="color:#ec1c24;font-size:16px">Cronograma</h2>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<%=l @compra.fecha_inicio_compras%>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<p>Realizazación de pagos online</p>
												<p><%=l @compra.fecha_fin_pagos%></p>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<p><%=l @compra.fecha_entrega_compras%></p>
												<p>(Constitución 2298 - esquina La Paz | Rosario)</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<!--[if (gte mso 9)|(IE)]>
					</td>
					<td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<![endif]-->
					<div class="column" style="width:100%;max-width:300px;display:inline-block;vertical-align:top;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
									<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:left;" >
										<tr>
											<td class="text" style="padding-bottom:0;padding-right:0;padding-left:0;padding-top:10px;" >
												<h2 style="color:#cc0000;font-size:16px" >¿Dudas o consutas?</h2>
											</td>
											<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
												<%= image_tag attachments['bodycomunication'].url, class: 'comunication' -%>
											</td>
										</tr>
										<tr>
											<td class="text" colspan="2" style="padding-bottom:0;padding-right:0;padding-left:0;padding-top:10px;" >
												<p>Como siempre, esperamos tus comentarios, opiniones o sugerencias para seguir construyendo una #EconomíaColaborativa</p>
											</td>
										</tr>
										<tr>
											<td class="text" colspan="2" style="padding-bottom:0;padding-right:0;padding-left:0;padding-top:10px;" >
												<p>Comunicate telefónicamente, vía WhatsApp o SMS al 0341-156 830910 (Ivon) o 0341-153 826152 (Julián).</p>
												<p>También nos podés escribir a través de nuestra Fan Page en Facebook o a victoriacolectiva@gmail.com</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</div>
					<!--[if (gte mso 9)|(IE)]>
					</td>
					</tr>
					</table>
					<![endif]-->
				</td>
			</tr>
			<tr>
				<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;background-color:#eb1c23" >
						<tr>
							<td class="inner contents" style="padding-top:5px;padding-bottom:0px;padding-right:5px;padding-left:5px;width:100%;text-align:center;" >
								<p class="h1" style="Margin:0;font-weight:bold;font-size:16px;Margin-bottom:10px;" >No te olvides de reenviar este mail a todos los integrantes de Tú círculo</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="three-column" style="padding-right:0;padding-left:0;text-align:center;font-size:0;padding-top:10px;padding-bottom:10px;" >
					<!--[if (gte mso 9)|(IE)]>
					<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
						<tr>
							<td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<![endif]-->
					<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;" >
						<tr>
							<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
								<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;" >
									<tr>
										<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
											<%= image_tag attachments['footerteam'].url -%>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!--[if (gte mso 9)|(IE)]>
					</td>
					<td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<![endif]-->
					<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;" >
						<tr>
							<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
								<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;" >
									<tr>
										<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
											<%= image_tag attachments['footerface'].url -%>
										</td>
										<td>
											<a href="http://www.misionantiinflacion.com.ar" target="_blank">Misión Anti Inflación</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!--[if (gte mso 9)|(IE)]>
					</td>
					<td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
					<![endif]-->
					<table class="column" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;max-width:200px;display:inline-block;vertical-align:top;" >
						<tr>
							<td class="inner" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" >
								<table class="contents" style="border-spacing:0;font-family:sans-serif;color:#333333;width:100%;font-size:14px;text-align:center;" >
									<tr>
										<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
											<%= image_tag attachments['footerwwww'].url -%>
										</td>
										<td>
											<a href="http://www.misionantiinflacion.com.ar" target="_blank">www.misiónantiinflación.com.ar</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!--[if (gte mso 9)|(IE)]>
					</td>
					</tr>
					</table>
					<![endif]-->
				</td>
			</tr>
		</table>
		<!--[if (gte mso 9)|(IE)]>
		</td>
		</tr>
		</table>
		<![endif]-->
	</div>
</div>
</body>
</html>