<div class="center-section">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  <div class="row">
    <h3>Hola <%= current_usuario.nombre %></h3>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h4>¡Bienvenide a la Misión Anti Inflación!</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <p>Muchas gracias por asociarte y formar junto con nosotres un mercado alternativo.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <p>Desde esta sección vas a poder:</p>
    </div>
    <div class="col-md-11 col-md-offset-1">
      <ul>
        <li>Modificar tus datos personales</li>
        <li>Gestionar tu círculo</li>
        <li>Ver tus pedidos y descargar tus facturas</li>
      </ul>
    </div>
  </div>

  <br>
  <% if !current_usuario.completed? or current_usuario.circulo.blank? %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <h4>Para poder realizar tus pedidos debés</h4>
          <ul>
            <% if !current_usuario.completed? %>
              <li>Completar tus datos personales haciendo clic en
                <span>
                    <%= link_to(edit_usuario_path(current_usuario)) do %>
                      Mis Datos
                    <% end %>
                  </span>
              </li>
            <% end %>
            <% if current_usuario.circulo.blank? %>
              <li>Pertenecer a un círculo de asociades,
                <span>
                    <%= link_to(usuario_path(current_usuario)) do %>
                      Mi Círculo
                    <% end %>
                  </span>
              </li>
            <% end %>
            <li>
              Para más información sobre como realizar un pedido
              <%= link_to(como_compro_path(1)) do %>
                Como comprar
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-md-12">
      <p>
        Ante cualquier duda, escribinos al whatsapp de tu distrito o vía mail a <b>victoriacolectiva@gmail.com</b>
      </p>
    </div>
  </div>
  <br>
  <% if !current_usuario.productor? %>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="col-md-3">
              <%= image_tag('v2/logoImpulsarHorizontal.png', class: 'img-responsive', width: '100px') %>
            </div>
            <div class="col-md-9">
              Compras Asociativas Impulsar
            </div>
            <br>
          </div>
          <div class="panel-body">
            <h4>
               Dirigido a emprendedorxs de panificación y repostería
            </h4>
            <br>
            <p>Si sos parte de un círculo de compras asociativas de Impulsar vas a poder asignarte el rol productor/a
              cuando completes tus datos en tu <%= link_to(edit_usuario_path(current_usuario)) do %>
                perfil
              <% end %>.

            </p>
            <p>
              Este dispositivo de compras asociativas está destinado a emprendedorxs de panificación y repostería, y
              busca resolver de manera colectiva la posibilidad de bajar los costos de producción, así como
              planificarla a mediano plazo para todo aquel emprendimiento que lo necesite.
            </p>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <% if @current_cycle_complete.present? and @consumer_enabled_purchase.present? %>
    <div class="row">
      <div class="col-md-12">
        <h4>Ciclo para hacer la compra <%= @current_cycle_complete.nombre %></h4>
      </div>
      <div class="col-md-12">
        <div class="Timeline">
          <svg height="5" width="150">
            <line x1="0" y1="0" x2="150" y2="0" style="stroke:#004165;stroke-width:5" />
            No puedes ver la line porque tu navedador no soporta HMTL5
          </svg>
          <div class="event1">
            <div class="event1Bubble">
              <div class="eventTime">
                <div class="DayDigit"><%= @current_cycle_complete.fecha_inicio_compras.strftime('%e') %></div>
                <h4></h4>
                <div class="Day">
                  <%= l @current_cycle_complete.fecha_inicio_compras, format: :day %>
                  <div class="MonthYear"><%= l @current_cycle_complete.fecha_inicio_compras, format: :custom %></div>
                </div>
              </div>
              <div class="eventTitle">Inicio</div>
            </div>
            <svg height="20" width="20">
              <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>
            <div class="time"><%= l @current_cycle_complete.fecha_inicio_compras, format: :horita %></div>
          </div>

          <svg height="5" width="180">
            <line x1="0" y1="0" x2="180" y2="0" style="stroke:#004165;stroke-width:5" />
            No puedes ver la line porque tu navedador no soporta HMTL5
          </svg>

          <div class="event2">
            <div class="event2Bubble">
              <div class="eventTime">
                <div class="DayDigit"><%= @current_cycle_complete.fecha_fin_compras.strftime('%e') %></div>
                <div class="Day">
                  <%= l @current_cycle_complete.fecha_fin_compras, format: :day %>
                  <div class="MonthYear"><%= l @current_cycle_complete.fecha_fin_compras, format: :custom %></div>
                </div>
              </div>
              <div class="eventTitle">Fin</div>
            </div>
            <svg height="20" width="20">
              <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>
            <div class="time2"><%= l @current_cycle_complete.fecha_fin_compras, format: :horita %></div>
          </div>

          <svg height="5" width="150">
            <line x1="0" y1="0" x2="150" y2="0" style="stroke:#004165;stroke-width:5" />
            No puedes ver la line porque tu navedador no soporta HMTL5
          </svg>

          <div class="event3">
            <div class="event1Bubble">
              <div class="eventTime">
                <div class="DayDigit"><%= @current_cycle_complete.fecha_entrega_compras.strftime('%e') %></div>
                <div class="Day">
                  <%= l @current_cycle_complete.fecha_entrega_compras, format: :day %>
                  <div class="MonthYear"><%= l @current_cycle_complete.fecha_entrega_compras, format: :custom %></div>
                </div>
              </div>
              <div class="eventTitle">Retiro</div>
            </div>
            <svg height="20" width="20">
              <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>
            <div class="time"><%= l @current_cycle_complete.fecha_entrega_compras, format: :horita %></div>
          </div>
          <svg height="5" width="50">
            <line x1="0" y1="0" x2="50" y2="0" style="stroke:#004165;stroke-width:5" />
          </svg>
          <svg height="20" width="42">
            <line x1="1" y1="0" x2="1" y2="20" style="stroke:#004165;stroke-width:2" />
            <circle cx="11" cy="10" r="3" fill="#004165" />
            <circle cx="21" cy="10" r="3" fill="#004165" />
            <circle cx="31" cy="10" r="3" fill="#004165" />
            <line x1="41" y1="0" x2="41" y2="20" style="stroke:#004165;stroke-width:2" />
          </svg>

        </div>


      </div>
    </div>
  <% else %>
    <div class="error text-center">No hay Ciclo Activo</div>
  <% end %>
  <% if @compra.present? %>
    <div class="row">
      <div id="ciclos" data-start-date="<%= @compra.first.fecha_inicio_compras %>"></div>
        <div class="row calendar text-center">
          <div class="col-md-6 col-md-offset-3">
            <h1>Próximo Ciclo de compras de tu círculo</h1>
        </div>
      </div>
    </div>
  <% end %>
</div>





