<div class="center-section">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  <div class="row">
    <h3>Hola <%= current_usuario.nombre %></h3>
  </div>
  <br>
  <br>
  <% if !user_data_completed(current_usuario) %>
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-info">
          <h4>
            Tienes datos incompletos, para poder realizar la compra, debes completarlos en
            <span><%= link_to(edit_usuario_path(current_usuario)) do %>
              Mis Datos
              <% end %>
            </span>
          </h4>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <p>Si estas acá, es porque sos coordinador de un círculo en la Misión Anti Inflación.<br/>
        Desde tu panel, ademas de hacer tu pedido, vas a poder administrar los integrantes<br/>
        de tu círculo y realizar el pago de la compra. Ante cualquier duda, consultanos vía mail
        a <b>victoriacolectiva@gmail.com</b>
      </p>
    </div>
  </div>

</div>
<div class="row">
  <% if @compra.present? %>
    <div id="ciclos" data-start-date="<%= @compra.first.fecha_inicio_compras %>"></div>
    <div class="row calendar text-center">
      <div class="col-md-6 col-md-offset-3">
        <h1>Próximo Ciclo de compras de tú círculo</h1>
        <div id="calendar"></div>
      </div>
    </div>
  <% end %>
</div>





