<%- model_class = Pedido -%>
<div class="container fill">
  <div class="row">
      <h2>Pedidos realizados</h2>

      <% if current_usuario && current_usuario.admin? %>
        <%= link_to 'Exportar CSV', pedidos_path(format: 'csv', ciclo_id: @ciclo_id), class: 'btn btn-success btn-xs' %>
        <%= form_tag pedidos_path, method: :get, class: 'form-inline' do %>
          <h3>Filtros:</h3>
          <div class="form-group">
            <label for="ciclo_id">Ciclo:</label>
            <%= select_tag 'ciclo_id',
                  options_from_collection_for_select(@ciclos, 'id', 'nombre', @ciclo_id),
                  include_blank: true, class: 'form-control input-sm' %>
          </div>
          <%= submit_tag 'Filtrar', class: 'btn btn-success btn-xs' %>
        <% end %>
      <% end %>

      <table class='table table-striped' data-search="true">
        <thead>
          <tr>
	          <th>#</th>
            <th>Número de pedido</th>
            <th>Fecha</th>
            <th>Ciclo</th>
						<th>Ciclo Tipo</th>
            <th>Coordinador</th>
            <th>Consumidor</th>
            <th>Círculo N°</th>
						<% if current_usuario && current_usuario.admin? %>
							<th colspan="4"></th>
            <% else %>
							<th colspan="2"></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if @pedidos.present? %>
		        <% @pedidos.each_with_index do |p, n| %>
		          <% if p.present? %>
			          <tr>
				          <td><%= n + 1 %></td>
			            <td><%= p.try('id') || 'Sin ID' %></td>
			            <td><%= l (p.try('created_at')) || 'SIN FECHA' %></td>
			            <td><%= p.ciclo.try('nombre') || 'SIN CICLO' %></td>
									<td><%= t (p.ciclo.try('tipo')) || '' %></td>
			            <td><%= p.circulo.try('coordinador') ? (p.circulo.coordinador.nombre + ' ' + p.circulo.coordinador.apellido) : 'SIN COORDINADOR' %></td>
			            <td><%= (p.usuario.try('nombre') ? (p.usuario.nombre) : '---' )+ ' ' + (p.usuario.try('apellido')? (p.usuario.apellido) : '---')  %></td>
			            <td><%= p.circulo.try('id') || 'SIN CIRCULO' %></td>
			            <td>
			              <%= link_to('Ver', pedido_path(p), class: 'btn btn-info btn-mini') %>
			            </td>
                  <% if File.exists?("#{Rails.public_path}/facturas/FAC_#{p.id}.pdf") %>
                    <td>
                      <%= link_to('Factura', pedido_download_pdf_path(p.id), class: 'btn btn-info btn-mini') %>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <% if(p.ciclo.id && Compra::ciclo_actual.try(:id) == p.ciclo.id)%>
                    <td>
                      <%= link_to('Modificar',
                            edit_pedido_path(p),
                            data: { confirm: 'Luego de modificar el pedido recuerda volver a enviarlo.' },
                            class: 'btn btn-warning btn-mini') %>
			              </td>
                  <% end %>
									<% if current_usuario && current_usuario.admin? %>
									  <td>
												<%= link_to 'Eliminar', p, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger btn-xs' %>
									  </td>
									<% end %>
			            <% if current_usuario && current_usuario.admin? %>
			              <td>
				              <% if p.has_missing? %>
						            <button class="btn btn-default disabled">Nota de Crédito</button>
						          <% end %>
			              </td>
					        <% end %>
			          </tr>
		          <% end %>
		        <% end %>
	        <% else %>
	          <tr>
		          <td></td>
		          <td></td>
		          <td></td>
		          <td></td>
		          <td></td>
		          <td></td>
		          <td></td>
		          <td></td>
		          <td></td>
	          </tr>
	        <% end %>
        </tbody>
      </table>
  </div>
</div>

