<div class="agile-grids">
  <div class="agile-tables">
    <div class="w3l-table-info">
      <div class="navbar navs-fixed">
        <h2>Pedidos realizados</h2>

        <% if current_usuario && current_usuario.admin? %>
          <%= link_to 'Exportar CSV', pedidos_path(format: 'csv', ciclo_id: @ciclo_id), class: 'btn btn-success btn-xs' %>
          <%= form_tag pedidos_path, method: :get, class: 'form-inline' do %>
            <h3>Filtros:</h3>
            <div class="form-group">
              <label for="ciclo_id">Ciclo:</label>
              <%= select_tag 'ciclo_id',
                             options_from_collection_for_select(@ciclos, 'id', 'nombre', @ciclo_id),
                             include_blank: true, class: 'form-control input-sm' %>
            </div>
            <%= submit_tag 'Filtrar', class: 'btn btn-success btn-xs' %>
          <% end %>
        <% end %>
          <table class='table table-striped' data-search="true">
            <thead>
              <tr>
                <th>Número de pedido</th>
                <th>Fecha</th>
                <th>Ciclo</th>
                <th>Pertenece</th>
                <th>Círculo N°</th>
                <% if current_usuario && current_usuario.admin? %>
                  <th colspan="4"></th>
                <% else %>
                  <th colspan="2"></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% if @pedidos.present? %>
                <% @pedidos.each_with_index do |p, n| %>
                  <% if p.present? %>
                    <tr>
                      <td><%= p.try('id') || 'Sin ID' %></td>
                      <td><%= l (p.try('created_at')) || 'SIN FECHA' %></td>
                      <td><%= p.ciclo.try('nombre') || 'SIN CICLO' %></td>
                      <td><%= p.circulo.try('warehouse_id') ? p.circulo.warehouse.name : '' %></td>
                      <td><%= p.circulo.try('id') || 'SIN CIRCULO' %></td>
                      <td>
                        <%= link_to('Ver', pedido_path(p), class: 'btn btn-info btn-mini') %>
                      </td>
                      <% if File.exists?("#{Rails.public_path}/facturas/FAC_#{p.id}.pdf") %>
                        <td>
                          <%= link_to('Factura', pedido_download_pdf_path(p.id), class: 'btn btn-info btn-mini') %>
                        </td>
                      <% else %>
                        <td></td>
                      <% end %>
                      <% if(p.ciclo.id && Compra::ciclo_actual.try(:id) == p.ciclo.id)%>
                        <td>
                          <%= link_to('Modificar',
                                edit_pedido_path(p),
                                data: { confirm: 'Luego de modificar el pedido recuerda volver a confirmarlo.' },
                                class: 'btn btn-warning btn-mini') %>
                        </td>
                      <% end %>
                      <% if current_usuario && current_usuario.admin? %>
                        <td>
                            <%= link_to 'Eliminar', p, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger btn-xs' %>
                        </td>
                      <% end %>
                      <% if current_usuario && current_usuario.admin? %>
                        <td>
                          <%= link_to 'Crear Transacción', new_transaction_path(pedido_id:p.id), class: "btn btn-default btn-xs" %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <% else %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% if @pedidos.present? %>
        <div class="row">
          <%= will_paginate @pedidos, :previous_label => 'Previo', :next_label => 'Siguiente' %>
        </div>
       <% end %>
      </div>
    </div>
  </div>
</div>

