<%- model_class = Pedido -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<div class="row">
  <table class='table table-striped'>
    <thead>
      <tr>
        <td>Numero</td>
        <td>Fecha</td>
        <td>Ciclo</td>
        <td>Coordinador</td>
        <td>Acciones</td>
      </tr>
    </thead>
    <tbody>
    <% @pedidos.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= l p.created_at %></td>
        <td><%= p.ciclo.nombre %></td>
        <td><%= p.circulo.coordinador.nombre %></td>
        <td>
          <%= link_to('Mostrar', pedido_path(p), class: 'btn btn-default btn-xs') %>
          <% if(p.ciclo.id && Compra::ciclo_actual.try(:id) == p.ciclo.id)%>
            <%= link_to('Modificar', 
                  edit_pedido_path(p), 
                  data: { confirm: 'Luego de modificar el pedido recuerda volver a enviarlo.' }, 
                  class: 'btn btn-default btn-xs') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

