<div class="agile-grids">
  <div class="agile-tables">
    <div class="w3l-table-info orders-table">
      <div class="navbar navs-fixed">
        <h2>Pedidos realizados</h2>

        <% if current_usuario && current_usuario.admin? %>
          <%= link_to 'Exportar CSV', pedidos_path(format: 'csv', ciclo_id: @ciclo_id), class: 'btn btn-success btn-xs' %>
          <%= form_tag pedidos_path, method: :get, class: 'form-inline' do %>
            <h3>Filtros:</h3>
            <div class="form-group">
              <label for="ciclo_id">Ciclo:</label>
              <%= select_tag 'ciclo_id',
                             options_from_collection_for_select(@ciclos, 'id', 'nombre', @ciclo_id),
                             include_blank: true, class: 'form-control input-sm' %>
            </div>
            <%= submit_tag 'Filtrar', class: 'btn btn-success btn-xs' %>
          <% end %>
        <% end %>
        <div class="orders-table">
          <table class='table table-striped' data-search="true">
            <thead>
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Asociade</th>
                <th>Ciclo</th>
                <th>Distrito</th>
                <th>Círculo</th>
                <% if current_usuario && current_usuario.admin? %>
                  <th colspan="4"></th>
                <% else %>
                  <th colspan="2"></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% if @pedidos.present? %>
                <% @pedidos.each_with_index do |p, n| %>
                  <% if p.present? %>
                    <tr>
                      <td><%= p.try('id') || 'Sin ID' %></td>
                      <td><%= p.created_at.present? ?  l(p.created_at, format: :short) : 'SIN FECHA' %></td>
                      <td><%= p.usuario.present? ? p.usuario.nombre_completo : 'Es solo' %></td>
                      <td><%= p.ciclo.try('nombre') || 'SIN CICLO' %></td>
                      <td><%= p.circulo.try('warehouse_id') ? p.circulo.warehouse.name : '' %></td>
                      <td><%= p.circulo.try('id') || 'SIN CIRCULO' %></td>
                      <td>
                        <%= link_to('Ver', pedido_path(p), class: 'btn btn-link') %>
                      </td>
                      <% if current_usuario && current_usuario.admin? %>
                        <td>
                          <%= link_to new_transaction_path(pedido_id:p.id), title: 'Nota de Crédito' do %>
                            <span class="fa fa-sticky-note"></span>
                          <% end %>
                        </td>
                      <% end %>
                      <% if File.exists?("#{Rails.public_path}/facturas/FAC_#{p.id}.pdf") %>
                        <td>
                          <%= link_to pedido_download_pdf_path(p.id), title: 'Factura' do  %>
                          <span class="fa fa-file-pdf-o"></span>
                          <% end  %>
                        </td>
                      <% else %>
                        <td></td>
                      <% end %>
                      <% if current_usuario && current_usuario.admin? %>
                        <td>
                          <%= link_to  p, method: :delete, data: { confirm: 'Esta seguro?' }, title: 'Eliminar' do %>
                          <span class="fa fa-trash"></span>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <% else %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% if @pedidos.present? and @pedidos.count > 50 %>
        <div class="row">
          <%= will_paginate @pedidos, :previous_label => 'Previo', :next_label => 'Siguiente' %>
        </div>
       <% end %>
      </div>
    </div>
  </div>
</div>

