<% colNumbers = @consumers.count + 2 %>
<% done = false %>
<div class="quote">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <%= link_to 'Export', export_index_path(@remitos) %>
      </div>
    </div>
  </div>
  <table class='table table-bordered' data-search="true">
    <% @remitos.each do |circulo_id, circulos|  %>
      <thead>
      <tr>
        <th class="text-center" colspan="<%= colNumbers %>">
          <h3>Círculo Nº:<%= circulo_id %></h3>
        </th>
      </tr>
      <tr>
        <th></th>
        <%@consumers.each do |consumer_id, index|  %>
          <th class="text-center"><b><%= index[:name] %></b></th>
        <% end %>
        <th class="text-center">Total</th>
      </tr>
      <% circulos[:rubros].each do |rubro, productos|  %>
        <tr>
          <td class="text-center" colspan="<%= colNumbers %>">
            <h4><%= rubro %></h4>
          </td>
        </tr>
        <% productos[:products].each do |product, consumers|  %>
          <% qtyTotal = 0 %>
          <tr>
            <td>
              <p><%= product %></p>
            </td>
            <% @consumers.each do |consumer_id, index|  %>
              <% consumers[:consumers].each do |consumer, data|  %>
                <% if consumer_id == consumer and !done   %>
                  <td class="text-center">
                    <p><%= data[:qty] %></p>
                    <% qtyTotal = qtyTotal + data[:qty] %>
                  </td>
                  <% done = true %>
                <% end %>
              <% end %>
              <% if done  %>
                <% done = false %>
                <% next %>
              <% end %>
              <td class="text-center">
                <p>0</p>
              </td>
            <% end %>
            <td class="text-center"><b><%= qtyTotal %></b></td>
          </tr>
        <% end %>
      <% end %>
      </thead>
    <% end %>
  </table>
</div>