<div class="fill">
  <div class="row">
    <h2>Productos faltantes</h2>
    <%= form_tag edit_multiple_productos_path, method: :put, class: 'form-inline' do %>

      <div class="actions">
        <%= submit_tag 'Guardar', class: 'btn btn-success'  %>
      </div>


	    <table class="table table-striped">
	      <thead>
	      <tr>
	        <th>Faltante</th>
	        <th>Codigo</th>
	        <th>Producto</th>
	        <th>Proveedor</th>
	      </tr>
	      </thead>

	      <tbody>
	      <% @productos.each do |producto| %>
	        <tr>
	          <td>
	            <%= check_box_tag "producto_ids[]", producto.id, producto.faltante ? true : false %>
	          </td>
	          <td><%= producto.codigo %></td>
	          <td><%= producto.nombre %></td>
	          <td><%= producto.supplier.name %></td>

	        </tr>
	      <% end %>
	      </tbody>
	    </table>
    <% end %>
  </div>
</div>
