<%- model_class = Pedido -%>
<div class="container fill">
  <div class="row">
    <h2>Remitos pedidos realizados</h2>

    <% if current_usuario.admin? %>
      <div class="col-md-6">
				<div class="well">
					<%= form_tag remitos_pedido_index_path, method: :get, class: '' do %>
						<h4>Filtros:</h4>
						<div class="form-group required">
							<label for="ciclo_id">Ciclo:</label>
							<%= select_tag "ciclo_id",
														 options_from_collection_for_select(@ciclos, "id", "nombre", params[:ciclo_id]),
														 include_blank: true, class: 'form-control' %>
						</div>
						<div class="form-group">
							<label for="circulo_id">Círculo: </label>
							<%= text_field_tag(:circulo_id, params[:circulo_id],class:'form-control') %>
						</div>
						<div class="form-group text-right">
							<%= submit_tag 'Filtrar', class: "btn btn-success btn-xs" %>
						</div>
					<% end %>
      	</div>
      </div>
    <% end %>
		<div class="col-md-6">
			<div class="well">
				<div class="col-xs-8 col-md-8">
					<%= link_to "Cargar Faltantes", generate_path, class: "btn btn-primary btn-xs" %>
				</div>
				<div>
					<%=
						link_to_if(params[:ciclo_id].blank?, "Generar Notas de Crédito",
											 remitos_pedido_index_path, class:'btn btn-primary btn-xs disabled') do
							link_to "Generar Notas de credito", transaction_generar_path(ciclo_id: params[:ciclo_id]), class: "btn btn-primary btn-xs"
						end
					%>
				</div>
  		</div>
  	</div>
  </div>
	<div class="row remitos">
  	<% if @remitos.present? %>
				<div class="table-responsive">
      		<%= render 'remitos' %>
				</div>
		<% else %>
	    <h4>No existen pedidos</h4>
		<% end %>
  </div>
</div>

