<div class="row">

	<p class="explicacion">
		<b>Ciclo Actual: Desde el <%= l @ciclo_actual.fecha_inicio_compras %> hasta el <%= l @ciclo_actual.fecha_fin_compras %></b><br/>
		<b>Ultimo dia para pago:</b> <%= l @ciclo_actual.fecha_fin_pagos %><br/><br/>
		A continuación, un listado con tu pedido. Revisalo, y si está todo bien,<br />
		confirmalo haciendo click en el boton "Finalizar compra".</p>

</div>
<div class="row">
	<div class="text-right"><%= link_to('Seguir comprando', productos_path, class: 'btn btn-info') %></div>
	<br>
</div>
<% unless @carrito.empty? %>
  <div class="table-responsive">

    <table class="table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Producto</th>
        <th>Código</th>
        <th>Precio Unit.</th>
        <th>Precio Total</th>
        <th>Ahorro Total</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
        <% @missing.each do |k, v| %>
            <tr>
              <td><%= v.id %></td>
            </tr>
        <% end %>
        <% @carrito.items.each do |_producto_id, item| %>
          <%  mclass ||=  'missing' if @missing.key?(item.producto.id.to_s) %>
          <tr class="cart-item <%="#{mclass} "%>">
            <td>
              <div class="product-thumbnail">
                <div class="product-thumbnail-wrapper">
                  <% if item.producto.imagen.blank? %>
                    <%= link_to producto_path(_producto_id) do%>
                      <%= image_tag('v2/no-disponible.png', class: 'img-responsive') %>
                    <% end %>
                  <% else %>
                    <%= link_to producto_path(_producto_id) do%>
                      <%= image_tag(item.producto.imagen, class: 'img-responsive') %>
                    <% end %>
                  <% end %>
                </div>
                <span class="product-thumbnail-quantity" aria-hidden="true"><%= item.cantidad.to_i %></span>


              </div>

            </td>
            <td><%= item.producto.nombre %></td>
            <td><%= item.producto.codigo %></td>
            <td><%= number_to_currency(item.producto.precio) %></td>
            <td><%= number_to_currency(item.total) %></td>
            <td><%= number_to_percentage(item.ahorro) %></td>
            <td>
              <%= button_tag(type: 'button', class: 'btn btn-danger btn-xs',
                             data: {
                                 action: 'remove',
                                 productId: item.producto.id
                             }) do %>
                  <i class="fa fa-remove"></i>
              <% end %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<% else %>
		<h3>No tiene productos agregado a su pedido</h3>
<% end %>