<div class="row">
	<p>
		<b>Ciclo Actual: Desde el <%= l @current_cycle.fecha_inicio_compras %> hasta el <%= l @current_cycle.fecha_fin_compras %></b><br/>
		<b>Ultimo dia para pago:</b> <%= l @current_cycle.fecha_fin_pagos %><br/><br/>
		A continuación, un listado con tu pedido. Revisalo, y si está todo bien,<br />
		confirmalo haciendo click en el boton "Finalizar compra".
  </p>
</div>
<div class="row">
	<div class="text-right"><%= link_to('Seguir comprando', productos_path(categoria_id: @category.first.id), class: 'btn btn-info') %></div>
	<br>
</div>
<% unless @carrito.empty? %>
  <h4>Tu carrito contiene: <span><%= pluralize(@carrito.cantidad, ' producto', ' productos') %></span></h4>
  <div class="table-responsive">

    <table class="table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Producto</th>
        <th>Código</th>
        <th>Precio Unit.</th>
        <th>Precio Total</th>
        <th>Ahorro Total</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
        <% @missing.each do |k, v| %>
            <tr>
              <td><%= v.id %></td>
            </tr>
        <% end %>
        <% @carrito.items.each do |_producto_id, item| %>
          <%  mclass ||=  'missing' if @missing.key?(item.producto.id.to_s) %>
          <tr class="cart-item <%="#{mclass} "%>">
            <td>
              <div class="product-thumbnail">
                <div class="product-thumbnail-wrapper">
                  <% if item.producto.imagen.blank? %>
                    <%= link_to producto_path(_producto_id) do%>
                      <%= image_tag('v2/no-disponible.png', class: 'img-responsive') %>
                    <% end %>
                  <% else %>
                    <%= link_to producto_path(_producto_id) do%>
                      <%= image_tag(item.producto.imagen, class: 'img-responsive') %>
                    <% end %>
                  <% end %>
                </div>
                <span class="product-thumbnail-quantity" aria-hidden="true"><%= item.cantidad.to_i %></span>


              </div>

            </td>
            <td>
              <%= item.producto.nombre %>
              <% if item.producto.product_type == Producto::BUNDLE %>
                <ul class="bundle-item">
                  <% item.producto.bundle_products.each do |bundle| %>
                  <li>
                    <div class="col-md-12">
                      <div class="col-md-10">
                        <i><%= Producto.find(bundle.item_id).nombre %></i>
                      </div>
                      <div class="col-md-2">
                        <%= bundle.qty %>
                      </div>
                    </div>
                  </li>
                  <% end %>
                </ul>
              <% end %>
            </td>
            <td><%= item.producto.codigo %></td>
            <td><%= number_to_currency(item.producto.precio) %></td>
            <td><%= number_to_currency(item.total) %></td>
            <td><%= number_to_percentage(item.ahorro) %></td>
            <td>
              <% if item.producto.id != 296 %>
                <%= button_tag(type: 'button', class: 'btn btn-danger btn-xs',
                               data: {
                                   action: 'remove',
                                   productId: item.producto.id
                               }) do %>
                    <i class="fa fa-remove"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-8 checkout-left-basket">
      <% if !current_usuario.completed? %>
        <%= render 'carts/user_data'%>
      <% else %>
        <h4>Resúmen de mi compra</h4>

        <% if @transactions.present? %>
          <strong>NOTA DE CRÉDITO</strong>
          <ul>
            <% @transactions.each do |transaction| %>
              <li>
                #<%= transaction.id %> <i>-</i> <span><%= number_to_currency(transaction.amount) %></span>
              </li>
            <% end %>
          </ul>
        <% end %>

        <ul>
          <li>Total de Ahorro <i>:</i> <span><%= number_to_percentage(@carrito.ahorro) %></span></li>
          <li>Total <i>:</i> <span><%= number_to_currency(@carrito.total) %></span></li>
        </ul>
      <% end %>
    </div>
  </div>
  <% if @current_cycle.present? && current_usuario.present? &&
    !current_usuario.pedido?(Compra:@current_cycle) && current_usuario.completed? %>
    <div class="row text-right">
      <%= link_to('Finalizar Compra', create_pedido_path, method: :get, class: "btn btn-success #{'disabled' if @missing.present?}",
                  id: 'finalizar') %>
    </div>
  <% end %>
<% else %>
		<h4>No tiene productos agregado a su pedido</h4>
<% end %>