<style type="text/css">
  body { padding-top: 180px; }
</style>
<div class="carrito">
  <div class="container">
  <ul class="navbar-nav">
      <li class="col-3">Datos de tu compra</li>
      <li class="col-3">Ahorro: <span class="cart-ahorro"><%= number_to_percentage(@carrito.ahorro) %></span></li>
      <li class="col-3">
        <span class="cart-total"><%= number_to_currency(@carrito.total) %></span><br>
        <span class="cart-cantidad"><%= pluralize(@carrito.cantidad, ' producto', ' productos') %></span>
      </li>
      <li class="col-4">
        <% if (controller.controller_name == 'carts') %>
          <%= link_to(productos_path, class: 'prod-list') do %>
            <i class="icon-lmcart"></i>Ir a la Tienda
          <% end %>
        <% else %>
          <%= link_to(cart_path, class: 'prod-list') do %>
            <i class="icon-lmcart"></i>Ver Mi Compra
          <% end %>
        <% end %>
      </li>
  </ul>
  </div>
</div>
<nav class="navbar navbar-default menu-categorias">
  <div class="container-fluid submenu">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Todas', productos_path, class: 'navbar-link' %></li>

        <% @categorias_menu.each do |c| -%>
            <% if c[:subcategorias].present? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= c[:nombre] %> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <% c[:subcategorias].each do |sm| %>
                      <li><%= link_to sm[:nombre], productos_path(categoria_id: c[:id], subcategoria_id: sm[:id])%></li>
                    <% end %>
                  </ul>
                </li>
            <%else %>
                <li><%= link_to c[:nombre], productos_path(categoria_id: c[:id]), class: 'navbar-link' %></li>
            <% end %>
        <% end -%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>