<style type="text/css">
  body { padding-top: 180px; }
</style>
<div class="carrito">
  <div class="container">
  <ul class="navbar-nav">
      <li class="col-3">Datos de tu compra</li>
      <li class="col-3">Ahorro: <span class="cart-ahorro"><%= number_to_percentage(@carrito.ahorro) %></span></li>
      <li class="col-3">
        <span class="cart-total"><%= number_to_currency(@carrito.total) %></span><br>
        <span class="cart-cantidad"><%= pluralize(@carrito.cantidad, ' producto', ' productos') %></span>
      </li>
      <li class="col-3">
        <%=
           link_to_if(controller.controller_name != "carts", "", cart_path, class: '') do
             link_to "", productos_path, class: ''
           end
        %>
      </li>
  </ul>
  </div>
</div>
<div class="menu-categorias">
    <ul class="container">
        <li><%= link_to 'Todas', productos_path, class: 'navbar-link' %></li>
        <% @categorias_menu.each do |c| -%>
            <li><%= link_to c[:nombre], productos_path(categoria_id: c[:id]), class: 'navbar-link' %></li>
        <% end -%>
    </ul>
</div>