<div class="carrito">
  <div class="container">
  <ul class="navbar-nav">
      <li class="col-3">Datos de tu compra</li>
      <li class="col-3">Ahorro: <%= number_to_percentage(@carrito.ahorro) %></li>
      <li class="col-3">
        <span class="cart-total"><%= number_to_currency(@carrito.total) %></span><br>
        <span class="cart-cantidad"><%= number_to_human(@carrito.cantidad, units: {unit: " producto", thousand: " productos"}) %></span>
      </li>
      <li class="col-3">
        <%=
           link_to_if(controller.controller_name != "carts", "", cart_path, class: '') do
             link_to "", productos_path, class: ''
           end
        %>
      </li>
  </ul>
  </div>
</div>
<div class="categorias">

        <ul class="container">
            <% Categoria.all.each do |c| -%>
                <li><%= link_to c.nombre, productos_path(categoria_id: c.id), class: 'navbar-link' %></li>
            <% end -%>
        </ul>

</div>