<div class="carrito">
  <div class="container">
  <ul class="navbar-nav">
      <li class="col-3"><a href="#">Datos de tu compra</a></li>
      <li class="col-3"><a href="#">Ahorro: %<%= @carrito.ahorro %></a></li>
      <li class="col-3">
        <a href="#">
            <span class="cart-total"><%= @carrito.total %></span><br>
            <span class="cart-cantidad"><%= @carrito.cantidad %></span> productos
        </a>
      </li>
      <!--<li class="col-3">
        <%=
           link_to_if(controller.controller_name != "carts", "", cart_path) do
             link_to "VOLVER A LA TIENDA", productos_path
           end
        %>
      </li>-->
      <li class="col-3"><a href="#"><span>Completa tu compra</span></a></li>
  </ul>
  </div>
</div>
<div class="categorias">

        <ul class="container">
            <% Categoria.all.each do |c| -%>
                <li><%= link_to c.nombre, productos_path(categoria_id: c.id), class: 'navbar-link' %></li>
            <% end -%>
        </ul>

</div>