<div class="row">
	<div class="col-md-2">

	</div>
	<div class="col-md-8">
		<%= form_for :usuarios, url: create_pedido_path,  method: :get, html: {id: 'register-guest'} do |f| %>
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4>Completá tus datos</h4>
					</div>
					<div class="panel-body">
						<div class="col-md-5 vcenter">

							<h1>Recuerda que la entrega será durante los días 22 y 23 de Diciembre</h1>
							<p><b>"La única forma de pago es en efectivo al momento de retirar su pedido"</b></p>
							<p>Cualquier duda o consulta escribinos a:</p>
							<p><b>fiestasciudadfutura@gmail.com</b>, </p>
							<p>al evento de Facebook<b><a href="http://www.facebook.com/events/1073390129453371/" target="_blank">
								Fiestas En Ciudad Futura <%= image_tag('faceLogo.png') %></b></a>
							</p>
							<p>
								o comunicate al <b>341 364-2717 (Federico)</b> // <b>341 382-6152 (Julián)</b>.
							</p>
							<p>
								En los próximos días nos pondremos en contacto para coordinar día y horario de entrega.
							</p>
							<p>Gracias</p>
						</div>
						<div class="col-md-7">

							<h3>Consumidor Colaborativo</h3>
							<%= f.hidden_field :guest, value: 1 %>
							<%= f.hidden_field :ciclo_actual, value: "#{@ciclo_actual.id}" %>
							<%= f.hidden_field :password, value: "#{@ciclo_actual.fecha_inicio_compras}" %>
							<div id="errorMessages" class="alert alert-danger hide">
								<span></span>
							</div>
							<div class="form-group">
								<label for="nombre">Nombre: <span>[requerido]</span></label>
								<%= f.text_field :nombre, class:'form-control' %>
								<div id="error-name"></div>
							</div>
							<div class="form-group">
								<label for="apellido">Apellido: <span>[requerido]</span></label>
								<%= f.text_field :apellido, class: 'form-control' %>
								<div id="error-lastname"></div>
							</div>
							<div class="form-group">
								<label for="email">Correo Electrónico: <span>[requerido]</span></label>
								<%= f.email_field :email, class: 'form-control' %>
								<small id="emailHelp" class="form-text text-muted">ejemplo: tucorreo@gmail.com</small>
								<div id="error-email"></div>
							</div>
							<div class="form-group">
								<label for="dni">D.N.I.: <span>[requerido]</span></label>
								<%= f.text_field :dni, class: 'form-control' %>
								<small id="dniHelp" class="form-text text-muted">Tiene que presentarse para retirar los productos</small>
								<div id="error-dni"></div>
							</div>
							<div class="form-group">
								<label for="domicilio">Domicilio: <span>[requerido]</span></label>
								<%= f.text_field :calle, class: 'form-control' %>
								<small id="domicilioHelp" class="form-text text-muted">ejemplo: Calle Nº Piso Depto.</small>
								<div id="error-address"></div>
							</div>

							<div class="form-group">
								<label for="celular">Celular: <span>[requerido]</span></label>
								<%= f.text_field :cel1, class: 'form-control' %>
								<div id="error-celphone"></div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Seleccione el lugar donde quiere retirar</h4>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<div class="radio">
											<% Warehouse.all.each do |warehouse| %>
													<label>
														<%= f.radio_button :warehouse, warehouse.id %>
														<%= warehouse.name %>
													</label>
													<br>
													<small id="warehouseHelp" class="form-text text-muted"><%= warehouse.address %></small>
													<br>
											<% end %>
										</div>
										<div id="error-warehouse"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div><%= submit_tag "Realizar pedido", class: "btn btn-success pull-right #{'disabled' if @missing.present?}" %></div>
				</div>
		<% end %>
	</div>
</div>