<%= form_for :pedidos, url: create_pedido_path,  method: :get, html: {id: 'warehouses-choose'} do |f| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Para retirar su pedido:</h4>
			</div>
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="col-md-7">
            <div class="form-group">
              <div class="radio">
                <% Warehouse.all.each do |warehouse| %>
                    <label>
                      <%= f.radio_button :warehouse, warehouse.id %>
                      <%= warehouse.name %>
                    </label>
                    <br>
                    <small id="warehouseHelp" class="form-text text-muted"><%= warehouse.address %></small>
                    <br>
                <% end %>
              </div>
              <div id="error-warehouse"></div>
            </div>
          </div>
          <div class="col-md-5 guest-text">

            <h1>Recuerda que la entrega será durante los días 22 y 23 de Diciembre</h1>
            <p><b>"La única forma de pago es en efectivo al momento de retirar su pedido"</b></p>
            <p>Cualquier duda o consulta escribinos a:</p>
            <p><b>fiestasenciudadfutura@gmail.com</b>, </p>
            <p>al evento de Facebook<b><a href="https://www.facebook.com/events/498086830557341/" target="_blank">
              Fiestas En Ciudad Futura <%= image_tag('faceLogo.png') %></b></a>
            </p>
            <p>
              o comunicate al <b>341 364-2717 (Federico)</b> // <b>341 382-6152 (Julián)</b>.
            </p>
            <p>
              En los próximos días nos pondremos en contacto para coordinar día y horario de entrega.
            </p>
            <p>Gracias</p>
          </div>
        </div>
      </div>
		</div>
		<%= f.hidden_field :warehouse, :value => "1"  %>
		<div class="form-group">
			<div><%= submit_tag "Realizar pedido", class: "btn btn-success pull-right #{'disabled' if @missing.present?}" %></div>
		</div>
<% end %>