<div id="mycart" class="">
  <div class="">
    <h4>Carrito</h4>
    <p class=""> Total: <span class=""></span> productos!</p>
  </div>

  <% unless @carrito.nil? || @carrito.empty? %>
    <table class="table">
    <% @carrito.each do |producto| %>
      <tr class="cart-item">
        <td><%= link_to producto do %>
              <%=image_tag producto.imagen, size: "70" %>
            <%end%>
        </td>
        <td><%= producto.nombre %></td>
        <td>
          <%= producto.precio %>
        </td>
        <td>
          <%=link_to "" , data: {
            target: @cart_action,
            targetUrl: remove_from_cart_path(producto),
            removeUrl: remove_from_cart_path(producto)} do %>
            <i class="">[borrar]</i>
          <%end%>
        </td>
    </tr>
    <%end%>
    </table>
  <% else %>
    <p>Carrito vacio.</p>
  <% end %>
</div>
