<%= javascript_include_tag 'cart' %>

<div class="privacy about">
  <h3>Mi compra</h3>

  <div class="row">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <% if @missing.present? %>
      <div class="alert alert-danger">
        <p>No hay cantidad suficiente para los siguientes productos</p>
        <ul>
          <% @missing.each do |k, miss| %>
            <li><%= miss.nombre%>. Cantidad sugerida: <%= miss.stock%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="checkout-right">

      <% if @ciclo_actual.present? and current_usuario.present? %>
        <% if @ciclo_actual.circulos.include?(current_usuario.circulo) %>
          <% if !current_usuario.pedido?(@ciclo_actual) %>
            <%= render 'carts/cart' %>
          <% else %>
            <div class="col-md-12 text-center">
              <p class="explicacion">
                <span class="label label-warning">
                  Disculpa. Ya haz realizado tu pedido. Por el momento la misión solo admite un pedido por usuario por ciclo.
                </span>
              </p>
            </div>
          <% end %>
        <% else %>
          <div class="col-md-12 text-center">
            <p class="explicacion"><span class="label label-warning">Tú Círculo no está habilitado para realizar la compra en este ciclo.</span></p>
          </div>
        <% end %>
      <% else %>
        <div class="col-md-12 text-center">
          <h4><span class="label label-warning">No hay un ciclo de compras activo, en estos momentos no se puede relizar el pedido.</span></h4>
        </div>
      <% end %>
  </div>
</div>
