<%= javascript_include_tag "cart" %>
<div class="fill">
  <div class="row">
    <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <% if @missing.present? %>
      <div class="alert alert-danger">
        <p>No hay cantidad suficiente para los siguientes productos</p>
        <ul>
          <% @missing.each do |k, miss| %>
                <li><%= miss.nombre%>. Cantidad sugerida: <%= miss.stock%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%= @ciclo_actual_include %>
	<% if @ciclo_actual.present? %>
			<% if current_usuario && current_usuario.circulo && @ciclo_actual.tipo != 'free' %>
					<% if @ciclo_actual.circulos.include?(current_usuario.circulo)  %>
							<% if !current_usuario.pedido?(@ciclo_actual) %>
									<%= render 'carts/cart' %>
							<% else %>
									<p class="explicacion"><span class="label label-warning">Disculpa. Ya haz realizado tu pedido. Por el momento la misión solo admite un pedido por usuario por ciclo.</span></p>
							<% end %>
					<% else %>
							<p class="explicacion"><span class="label label-warning">Tú Círculo no está habilitado para realizar la compra en este ciclo.</span></p>
					<% end %>
			<% elsif @ciclo_actual.tipo == 'free'%>
					<%= render 'carts/cart_free' %>
			<% else %>
					<p class="explicacion"><span class="label label-warning">No perteneces a ningun circulo. Comunicate con un coordinador. Recuerda que tu numero de usuario es <b><%= current_usuario.id %></b></span></p>
			<% end %>
	<% else %>
			<p class="explicacion"><span class="label label-warning">No hay un ciclo de compras activo, en estos momentos no se puede relizar el pedido.</span></p>
	<% end %>
</div>