<div id="mycart" class="">

  <h4>Carrito</h4>

  <% unless @carrito.empty? %>
    <table class="table">
    <% @carrito.productos.each do |producto| %>
      <tr class="cart-item">
        <td><%= link_to producto do %>
              <%=image_tag producto.imagen, size: "70" %>
            <%end%>
        </td>
        <td><%= producto.nombre %></td>
        <td>$. <%= producto.precio %></td>
        <td><%= producto.ahorro %> %</td>
        <td>
          <%=link_to "" , data: {
            target: @cart_action,
            targetUrl: remove_from_cart_path(producto),
            removeUrl: remove_from_cart_path(producto)} do %>
            <i class="">[borrar]</i>
          <%end%>
        </td>
    </tr>
    <%end%>
    </table>
    <%= link_to('Finalizar Compra', create_pedido_cart_path, method: :put, class: 'btn btn-default') %>
  <% else %>
    <p>Carrito vacio.</p>
  <% end %>
</div>
