<div id="mycart" class="">

  <h4>Carrito</h4>

  <% unless @carrito.empty? %>
    <table class="table">
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Ahorro</th>
        <th>Accion</th>
      </tr>
    <% @carrito.items.each do |_producto_id, item| %>
      <tr class="cart-item">
        <td><%= link_to item.producto do %>
              <%=image_tag item.producto.imagen, size: "70" %>
            <%end%>
        </td>
        <td><%= item.producto.nombre %></td>
        <td>$. <%= item.producto.precio %></td>
        <td><%= item.cantidad %></td>
        <td>$. <%= item.total %></td>
        <td>$. <%= item.ahorro %> %</td>
        <td>
          <%=link_to "" , data: {
            target: @cart_action,
            targetUrl: remove_from_cart_path(item.producto),
            removeUrl: remove_from_cart_path(item.producto)} do %>
            <i class="">[borrar]</i>
          <%end%>
        </td>
    </tr>
    <%end%>
    </table>
    <%= link_to('Finalizar Compra', create_pedido_cart_path, method: :put, class: 'btn btn-default') %>
  <% else %>
    <p>Carrito vacio.</p>
  <% end %>
</div>
