<div class="container fill">
  <h1>Listado de Categorías</h1>
  <div class="navbar navs-fixed">
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_categoria_path,
              :class => 'btn btn-primary' if can? [:manage], Categoria %>
  </div>
<div class="table-responsive">
	<table class="table table-striped table-md">
	  <thead>
	    <tr>
	      <th>Nombre</th>
	      <th>Descripcion</th>
	      <th>Padre</th>
	      <th colspan="2"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @categorias.each do |categoria| %>
	      <tr>
	        <td><%= categoria.nombre %></td>
	        <td><%= categoria.descripcion %></td>
	        <td><%= categoria.parent.try(:nombre) %></td>
	        <td><%= link_to 'Modificar', edit_categoria_path(categoria), class: "btn btn-default btn-xs" %></td>
	        <td><%= link_to 'Eliminar', categoria, method: :delete, data: { confirm: 'Esta seguro?' }, class: "btn btn-danger btn-xs" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<br>

</div>