<div class="container fill">
  <h3>Categoría <%= @categoria.nombre %></h3>
  <div class="breadcrumb">
    <%= link_to 'Editar', edit_categoria_path(@categoria) %> |
    <%= link_to 'Atras', categorias_path %>
  </div>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Descripcion:</strong>
    <%= @categoria.descripcion %>
  </p>

</div>