<div id="dossier" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#dossier" data-slide-to="0" class="active"></li>
    <li data-target="#dossier" data-slide-to="1"></li>
    <li data-target="#dossier" data-slide-to="2"></li>
    <li data-target="#dossier" data-slide-to="4"></li>
    <li data-target="#dossier" data-slide-to="4"></li>
    <li data-target="#dossier" data-slide-to="5"></li>
    <li data-target="#dossier" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("1-300x212.png",:class =>'img-responsive') %>
    </div>
    <div class="item">
      <%= image_tag("2-300x212.png",:class =>'img-responsive') %>
    </div>
    <div class="item">
      <%= image_tag("3-300x212.png",:class =>'img-responsive') %>
    </div>
    <div class="item">
      <%= image_tag("4-300x212.png",:class =>'img-responsive') %>
    </div>
    <div class="item">
      <%= image_tag("5-300x212.png",:class =>'img-responsive') %>
    </div>
    <div class="item">
      <%= image_tag("6-300x212.png",:class =>'img-responsive') %>
    </div>
    <div class="item">
      <%= image_tag("7-300x212.png",:class =>'img-responsive') %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#dossier" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#dossier" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>