<% content_for :title, 'Iniciar sesión' %>
<% navigation_add 'Iniciar sesión', '#' %>
<div class="w3l_banner_nav_left">
  <%=render 'layouts/menu' %>
</div>
<div class="w3l_banner_nav_right">
  <div class="clearfix"></div>
  <div class="w3_login">
    <h3>Iniciar sesión</h3>
    <div class="w3_login_module">
      <div class="module form-module">
        <div class="toggle">

        </div>
        <div class="form">
          <h2>Crear mi cuenta</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <fieldset class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, class:'form-control',  autofocus: true %>
            </fieldset>

            <fieldset class="form-group">
              <%= f.label :password, 'Contraseña' %><br>
              <%= f.password_field :password, class:'form-control', autocomplete: "off" %>
            </fieldset>

            <% if devise_mapping.rememberable? -%>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> Recordarme
                </label>
              </div>
            <% end -%>

            <%= f.submit "Ingresar", class:'btn btn-primary' %>
          <% end %>
          <br>
          <br>
        </div>
        <div class="form">

        </div>
        <div class="cta"><a href="#">Olvidé mi contraseña</a></div>
      </div>
    </div>

  </div>
</div>
<%= render "devise/shared/links" %>


<div class="container fill registration">

</div>
