<% content_for :title, 'Ciclos de compras' %>
<% navigation_add 'Ciclos de compras', '#' %>
<div class="events">
  <h3>Ciclos de compras</h3>

  <div class="events-bottom">
    <% @compras.each do |compra| %>
      <div class="col-md-6 events_bottom_left">
        <div class="col-md-4 events_bottom_left1">
          <div class="events_bottom_left1_grid">
            <h4><%= compra.fecha_inicio_compras.strftime('%e') %></h4>
            <p><%= l compra.fecha_inicio_compras, format: :custom %></p>
          </div>
        </div>
        <div class="col-md-8 events_bottom_left2">
          <%= image_tag 'v2/15.jpg', :class => 'img-responsive'%>
          <h4><%= compra.nombre %></h4>
          <ul>
            <li><i class="fa fa-clock-o" aria-hidden="true"></i><%= l compra.fecha_inicio_compras, format: :horita %></li>
            <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Admin</a></li>
          </ul>
          <p><%= compra.descripcion %></p>
        </div>
        <div class="clearfix"> </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= will_paginate @compras %>
  </div>
</div>