<h1>Listado de Círculos de  compras</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.nombre %></td>
        <td><%= link_to 'Ver', compra %></td>
        <td><%= link_to 'Editar', edit_compra_path(compra) %></td>
        <td><%= link_to 'Borrar', compra, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Círculo de Compras', new_compra_path %>
