<div class="container fill">
  <div class="breadcrumb">
    <%= link_to 'Modificar', edit_compra_path(@compra) %> |
    <%= link_to 'Atrás', compras_path %>
  </div>
  <div class="row text-center">
    <h2><%= @compra.nombre%></h2>
  </div>

  <div class="row">
    <div class="col-md-3">Total de círculos:<%= @compra.deliveries.count %></div>
    <div class="col-md-3">Total Círculos Completados: <%= @compra.deliveries.where(:status_id =>  4).count %></div>
    <div class="col-md-3">Total Círculos en Espera: <%= @compra.deliveries.where(:status_id =>  2).count %></div>
    <div class="col-md-3">Total Círculos Agendados: <%= @compra.deliveries.where(:status_id => 1).count %></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Circulos</h3>
    </div>
    <div class="panel-body">

      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Círculo</th>
            <% @sectors.each do |sector|%>
              <th><%= sector.name%></th>
            <% end %>
            <th>Puesto</th>
          </thead>
          <tbody>

          <% @compra.deliveries.each do |d| %>
              <tr>
                <td><%= d.circulo.id %></td>
                <% d.delivery_statuses.all.each do |ds|%>
                    <td>
                      <%= link_to '#', class: 'editable status editable-disabled',
                                  data: { pk: ds.id,
                                          url: delivery_status_path(ds.id),
                                          name: 'status_id',
                                          value: ds.status_id
                                  } do %>
                      <% end %>

                    </td>

                <% end %>
                <td><%= link_to '#',
                                class: 'editable checkpoint editable-disabled',
                                data: { pk: d.id,
                                        type: 'text',
                                        title: 'Ingrese el Nº de puesto',
                                        url: delivery_status_path(d.id),
                                        name: 'checkpoint',
                                        value: d.checkpoint },
                                id: "checkpoint#{d.id}" do %>
                      <%= d.try('checkpoint') || 'Sin puesto'  %>
                  <% end %>
                </td>
              </tr>
          <% end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>