<% if @producto.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@producto.errors.count, 'error') %> El producto no pudo ser guardado:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @producto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for @producto, :html => { :multipart => true, :class => 'form-horizontal producto' } do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-12">
        <div class="control-group">
          <%= f.label :nombre, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :nombre, :class => 'form-control required' %>
          </div>
        </div>

      </div>

      <div class="col-sm-12">
        <div class="control-group">
          <%= f.label :marca, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :marca, :class => 'form-control required' %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="control-group">
          <%= f.label :codigo, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :codigo, :class => 'form-control required' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-sm-6">
          <div class="control-group">
            <%= f.label :precio, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :precio, :class => 'form-control required' %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="control-group">
            <%= f.label :precio_super, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :precio_super, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :cantidad_permitida, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :cantidad_permitida, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :stock, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :stock, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :pack, for:'pack', :class => 'control-label'  %>
            <div class="controls">
              <%= f.select(:pack, options_for_select(Producto.packs.map{|x,y| [t(x), x]}, selected: @producto.pack),
                          {:include_blank => 'Seleccione...'}, class:'form-control', id:'pack') %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :orden, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :orden, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :orden_remito, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :orden_remito, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label 'Venta Libre', :class => 'control-label' %>
            <div class="controls">
              <%= f.check_box :sale_type, :class => 'form-control' %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :oculto, :class => 'control-label' %>
            <div class="controls">
              <%= f.check_box :oculto, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :destacado, :class => 'control-label' %>
            <div class="controls">
              <%= f.check_box :highlight, :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="control-group">
            <%= f.label :supplier_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.select(:supplier_id, 
                      options_for_select(Supplier.all.map{|s| [s.name,s.id]},@producto[:supplier_id]),
                      { include_blank: 'Elija proveedor'},
                      class: 'form-control required') %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-12">
        <% if @producto.imagen.blank? %>
          <%= image_tag('image-not-found.png', :height => '60%', :width => '60%') %>
        <% else %>
          <%= image_tag(@producto.imagen, :height => '60%', :width => '60%') %>
        <% end %>
      </div>
      <div class="col-sm-6">  
        <div class="control-group">
          <%= f.label :imagen, :class => 'control-label' %>
          <div class="controls">
            <%= f.file_field :imagen %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :faltante, :class => 'control-label' %>
          <%= f.check_box :faltante, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="control-group">
        <%= f.label :descripcion, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :descripcion, :class => 'form-control', :rows => "4" %>
        </div>
      </div>
    </div>
  </div>
  <fieldset class="form-group">
	  <div class="col-md-12">
		  <h3>Categorías</h3>
	  </div>

    <% Categoria.all.each do |categoria| %>
    <div class="col-md-3">
      <label><%= categoria.nombre -%>
      <%= check_box_tag 'producto[categoria_ids][]', categoria.id, @producto.categorias.include?(categoria) %>
      </label>
    </div>
    <% end %>

  </fieldset>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t('helpers.links.cancel')),
            productos_path, :class => 'btn btn-default' %>
<% end %>
