<div class="col mb-4">
  <div class="card h-100" id="<%= producto.id %>">
      <div class="agile_top_brand_left_grid_pos">
        <% if producto.supplier.present? and producto.supplier.nature == 'producer' %>
          <div class="ribbon ribbon-top-left"><span><%= I18n.t(producto.supplier.nature, :default => '') %></span></div>
        <% end %>
      </div>


            <div class="card-body">
            <div class="card-img-top">
              <% if producto.imagen.blank? %>
                <%= link_to producto_path(producto.id) do%>
                  <%= image_tag('v2/no-disponible.png', class: 'card-img-top') %>
                <% end %>
              <% else %>
                <%= link_to producto_path(producto.id) do%>
                  <%= image_tag(producto.imagen.url, class: 'card-img-top') %>
                <% end %>
              <% end %>
              </div>
              <div class="card-title">
                <p><%= producto.nombre %></p>
              </div>
              <div class="card-text">
                <span class="red"><%= producto.marca %></span>
              </div>
              <div class="card-text">
                  <h4><%= number_to_currency(producto.precio) %></h4>
              </div>
              <div class="align-slef-items-center">
                  <small class="text-success"> Ahorro <%= number_to_percentage(producto.ahorro) %></small>
              </div>
            </div>
            <div class="card-footer mt-2">
              <% if @consumer_enabled_purchase %>
                <% if producto.stock.present? and producto.cantidad_permitida > producto.stock
                     cantidad = producto.stock
                   else
                     cantidad =  producto.cantidad_permitida
                   end %>
                <div class="row">
                  <div class="col">
                      <% if @carrito.producto?(producto.id) %>
                        <select id="qty-selected-<%= producto.id %>" class="form-control cantidad" disabled>
                        <% for i in 1..cantidad %>
                          <option value="<%= i%>" <%= (i == @carrito.cantidad_prod(producto.id)) ?'selected':''%>><%= i %></option>
                        <% end %>
                        </select>
                      <% else %>
                        <select id="qty-selected-<%= producto.id %>" class="form-control cantidad">
                        <% for i in 1..cantidad %>
                          <option value="<%= i %>"><%= i %></option>
                        <% end %>
                        </select>
                    <% end %>
                  </div>
                <div class="col add-content">
                  <% if @carrito.producto?(producto.id) %>                      
                    <%= button_tag(type: 'button',
                                   class: 'btn btn-danger float-right',
                                   data: {
                                     action: 'remove',
                                     productId: producto.id
                                   }) do %>
                      <span class="fa fa-remove"></span> <span class="cart-action">Eliminar</span>
                    <% end %>
                  <% else %>
                    <%= button_tag(type: 'button',
                                   class: 'btn btn-success float-right',
                                   data: {
                                     productId: producto.id,
                                     orden_remito: producto.orden_remito,
                                     action: 'add'
                                   }) do %>
                      <span class="fa fa-shopping-cart"></span> <span class="cart-action">Agregar</span>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <% else %>
                <div class="col-md-12 text-center">
                  <small class="red"> No hay ciclos activos</small>
                </div>
              <% end %>
            </div>



  </div>
</div>