<div class="col-md-3 thumbnails">
  <div class="hover14 column ">
    <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
      <div class="agile_top_brand_left_grid_pos">
        <% if producto.supplier.present? and producto.supplier.nature == 'producer' %>
          <div class="ribbon ribbon-top-left"><span><%= I18n.t(producto.supplier.nature, :default => '') %></span></div>
        <% end %>
      </div>
      <div class="agile_top_brand_left_grid1">
        <figure>
          <div class="snipcart-item block">
            <div class="snipcart-thumb">
              <% if producto.imagen.blank? %>
                <%= link_to producto_path(producto.id) do%>
                  <%= image_tag('v2/no-disponible.png', class: 'img-responsive', height: '150px') %>
                <% end %>
              <% else %>
                <%= link_to producto_path(producto.id) do%>
                  <%= image_tag(producto.imagen, class: 'img-responsive', height: '140px', width: '150px') %>
                <% end %>
              <% end %>
              <p><%= producto.nombre %></p>
              <div class="col-sm-12 text-center">
                <span class="red"><%= producto.marca %></span>
              </div>
              <h4><%= number_to_currency(producto.precio) %>
                <span> Ahorro <%= number_to_percentage(producto.ahorro) %></span>
              </h4>
            </div>
            <div class="snipcart-details">

                <% if producto.stock.present? and producto.cantidad_permitida > producto.stock
                    cantidad = producto.stock
                  else
                    cantidad =  producto.cantidad_permitida
                  end %>
                <div class="col-sm-3">
                  <select id="qty-selected-<%= producto.id %>" class="cantidad form-control">
                    <% for i in 1..cantidad %>
                      <% if @carrito.producto?(producto.id) %>
                        <option value="<%= i%>" <%= (i == @carrito.cantidad_prod(producto.id)) ?'selected':''%>><%= i %></option>
                      <% else %>
                        <option value="<%= i %>"><%= i %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
                <div class="col-sm-9">
                  <% if @carrito.producto?(producto.id) %>

                    <%= button_tag(type: 'button',
                                   class: 'btn btn-sm btn-danger',
                                   data: {
                                     action: 'remove',
                                     productId: producto.id
                                   }) do %>
                      <span class="fa fa-remove"></span> <span class="cart-action">Eliminar del</span> carro
                    <% end %>
                  <% else %>
                    <%= button_tag(type: 'button',
                                   class: 'btn btn-sm btn-success',
                                   data: {
                                     productId: producto.id,
                                     orden_remito: producto.orden_remito,
                                     action: 'add'
                                   }) do %>
                      <span class="fa fa-shopping-cart"></span> <span class="cart-action">Agregar al</span> carro
                    <% end %>
                  <% end %>
                </div>




            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>