	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<h2 class=ribbon>
						<i><u>Canastas Navideñas 2017</u></i>
					</h2>
					<div class="col-lg-12 text-center">
						<span></span>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<% @freesale.each do |producto|%>
						<div class="col-xs-6 col-md-4 thumbnails">
							<div class="thumbnail free text-center">
								<div class="ribbon"><span>Navidad</span></div>
								<% if producto.oculto? %>
										<div class="oculto-prod">
											<span>Oculto</span>
										</div>
								<% end   %>
								<p class="details">click en la foto para ver detalle</p>
								<a href="" onclick="return false;" data-toggle="popover" data-container="body" data-content="<%= producto.descripcion %>" >
									<% if producto.imagen.blank? %>
											<%= image_tag('image-not-found.png', :height => '90%', :width => '90%') %>
									<% else %>
											<%= image_tag(producto.imagen, :height => '80%', :width => '90%') %>
									<% end %>
								</a>
								<div class="caption">
									<h4><%= producto.nombre %></h4>
                  <h5><%= producto.marca %></h5>
									<p class="precio_mision">Precio misión <%= number_to_currency(producto.precio) %></p>

                  <% if producto.precio_super.present?
                    if producto.precio > producto.precio_super
                      precio_super = 0.0
                    else
                      precio_super = producto.precio_super
                    end
                  else
                    precio_super = 0.0
                  end%>

                  <p>Precio hiper <%= number_to_currency(precio_super) %></p>
                  <p>Ahorro <%= number_to_percentage(producto.ahorro) %></p>

									<% if @current_cycle.present?  %>
										<% cantidad = producto.stock.present? ? producto.stock : producto.cantidad_permitida %>
										<select class="cantidad">
											<% for i in 1..cantidad %>
													<% if @carrito.producto?(producto.id) %>
                            <option value="<%= i%>" <%= (i == @carrito.cantidad_prod(producto.id)) ?'selected':''%>><%= i %></option>
													<% else %>
														<option value="<%= i %>"><%= i %></option>
													<% end %>
											<% end %>
										</select>
										<% if @carrito.producto?(producto.id) %>
												<%= button_tag(type: 'button',
																			 class: 'btn btn-sm btn-danger',
																			 data: {
																					 action: 'remove',
																					 productId: producto.id
																			 }) do %>
														<span class="icon-tienda glyphicon-align-left"></span> <span class="cart-action">Eliminar del</span> carro
												<% end %>
										<% else %>
												<%= button_tag(type: 'button',
																			 class: 'btn btn-sm btn-success',
																			 data: {
																					 productId: producto.id,
																					 orden_remito: producto.orden_remito,
																					 action: 'add'
																			 }) do %>
														<span class="icon-tienda glyphicon-align-left"></span> <span class="cart-action">Agregar al</span> carro
												<% end %>
										<% end %>
									<% else %>
										<p><i>Debes estar registrado para realizar tú pedido</i></p>
									<% end %>

									<% if can? [:update, :detele], producto %>
											<div class="btn-group btn-group-justified" role="group" aria-label="modificar">
												<div class="btn-group" role="group">
													<%= button_to t('.edit', :default => t("helpers.links.edit")),
																				edit_producto_path(producto),
																				:method => :get,
																				:class => 'btn btn-primary'  %>
												</div>
											</div>
											<p>Rubro: <%= I18n.t(producto.pack, :default => '')%></p>
									<% end %>
									<% if producto.stock.present? %>
											<p><i>Stock disponible: <%= producto.stock %></i></p>
									<% end %>
								</div>
							</div>
						</div>
				<% end %>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-lg-12 vcenter text-center">
						<p>Una vez agregado los productos, hacé clic en "ver mi compra" en el margen superior derecho de la pantalla.</p>
					</div>
				</div>
			</div>
		</div>
	</div>