<%= javascript_include_tag 'product_bundle' %>
<div class="products-search">
  <%= hidden_field_tag :producto_id, '', id: 'my_producto_id' %>
  <%= autocomplete_field_tag 'search', '',autocomplete_producto_nombre_productos_path, :id_element => '#my_producto_id', 'data-auto-focus' => true %>
  <%= link_to '#', :class => 'btn btn-primary disabled', :id => 'addItem' do %>
    <span id="span">
      <i class="glyphicon glyphicon-plus"></i>
      Agregar producto
    </span>
  <% end %>

</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Producto</th>
    <th scope="col">Codigo</th>
    <th scope="col">Precio</th>
  </tr>
  </thead>
  <tbody>

    <%= render 'productos/bundle_item' %>

  </tbody>
</table>
