<% if @destacados %>
	<h2 class="col-xs-12">Destacados</h2>
<% end %>
<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
  <% if params[:categoria_id].blank? %>
    <h3> Todos</h3>
  <% else %>
    <h3><%= Categoria.find(params[:categoria_id]).nombre if params[:categoria_id] %></h3>
  <% end %>
  <% if @exclusives.present? %>
    <div class="w3ls_w3l_banner_nav_right_grid1">
      <div class="row">
        <div class="col-md-12">
          <h6>Exclusivos de tu Distrito</h6>
          <% @exclusives.each do |producto|%>
            <%= render 'productos/item', producto: producto %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @impulsarProducts.present? %>
    <br>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="col-md-2">
              <%= image_pack_tag('logoImpulsarHorizontal.png', class: 'img-responsive', width: '130px') %>
            </div>
            <div class="col-md-10">
              Productos exclusivos para panadería y repostería
            </div>
            <br>
          </div>
          <div class="panel-body">
            <% @impulsarProducts.each do |producto|%>
              <%= render 'productos/itemImpulsar', producto: producto %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
  <div class="w3ls_w3l_banner_nav_right_grid1">
    <h6><%= Categoria.find(params[:subcategoria_id]).nombre if params[:subcategoria_id].present? %></h6>
      <div class="row row-cols-1 row-cols-md-3">
        <% @productos.each do |producto|%>
          <%= render 'productos/item', producto: producto %>
        <% end %>
      </div>
  </div>
</div>