<%= javascript_include_tag 'productos', params[:controller] %>
<% content_for :title, 'Productos' %>
<% navigation_add Categoria.find(params[:categoria_id]).nombre, '#' if params[:categoria_id].present? %>

<%= render 'carts/cart_summary' %>


<div id="js-message-success" style="display: none;">
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Se agregó exitosamente el producto
  </div>
</div>
<div id="js-message-delete" style="display: none;">
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Se eliminó el producto del carrito
  </div>
</div>

<% if can? [:manage], Producto %>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <%= link_to "Exportar CSV", productos_path(format: "csv"), class: "btn btn-success" %>
        <%= form_tag(upload_productos_path, multipart: true, class: 'form-inline') do %>
          <div class="form-group">
            <%= file_field_tag 'file' %>
          </div>
          <%= submit_tag 'Subir', class: "btn btn-success btn-xs" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="well">
        <%= form_for productos_path, method: 'get', class: 'form' do %>

          <%= radio_button_tag :view_type, 'admin', @view_type.present? %>
          <%= label :view_type_admin, 'Administrador' %>
          <%= radio_button_tag :view_type, 'user', @view_type.nil? %>
          <%= label :view_type_user, 'Consumidor' %>
          <br>
          <%= radio_button_tag :view_prod, 'todos', @view_prod.blank? %>
          <%= label :view_prod, 'Todos' %>
          <%= radio_button_tag :view_prod, 'ocultos', @view_prod == 'ocultos' %>
          <%= label :view_prod, 'Ocultos' %>
          <%= radio_button_tag :view_prod, 'visibles', @view_prod == 'visibles' %>
          <%= label :view_prod, 'Visibles' %>
          <p class="text-right">
            <%= submit_tag 'Cambiar', class: "btn btn-success btn-xs" %>
          </p>
        <% end %>
      </div>
      <div class="row">
        <div class="col-lg-12 text-right">
          <%= link_to t('.new', :default => t("helpers.links.new")),
                      new_producto_path,
                      :class => 'btn btn-primary' if can? :manage, Producto %>
        </div>
      </div>
      <br>
    </div>
  </div>

<% end %>
<% if @freesale.present? && @ciclo_actual.present? %>
  <% if @ciclo_actual.tipo == 'free' %>
    <%= render 'products_freesale' %>
  <% end %>
<% end %>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? %>
    <%= render 'admin_product' %>
  <% else %>
    <%= render 'products' %>
    <% end %>
  <% else %>
    <%= render 'products' %>
<% end %>


