<%- model_class = Producto -%>
<div class="container fill">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= render 'carts/menu' %>
    </div>
    <div class="col-xs-12 col-md-9">
      <% if can? [:manage], Producto %>
        <div class="navbar navs-fixed">
          <div class="col-md-6">
            <%= link_to "Exportar CSV", productos_path(format: "csv"), class: "btn btn-success" %>
            <%= form_tag(upload_productos_path, multipart: true, class: 'form-inline') do %>
              <div class="form-group">
                <%= file_field_tag 'file' %>
              </div>
              <%= submit_tag 'Subir', class: "btn btn-success btn-xs"%>
            <% end %>
          </div>
	        <div class="col-md-6 ">
            <%= link_to t('.new', :default => t("helpers.links.new")),
                      new_producto_path,
                      :class => 'btn btn-primary' if can? :manage, Producto %>
	        </div>
        </div>
      <% end %>
      <% if @isD7 %>
        <div class="row highlight">
          <h2 class="col-xs-12">Destacados</h2>
        </div>
      <% end %>
      <div id="js-message-success" style="display: none;">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Se agregó exitosamente el producto: <strong id="js-message-product"></strong>
        </div>
      </div>
      <div id="js-message-delete" style="display: none;">
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Se eliminó el producto del carrito</strong>
        </div>
      </div>

      <div class="row">
	      <% @productos.each do |producto|%>
	        <div class="col-xs-6 col-md-4 thumbnails">
	          <div class="thumbnail text-center">
	            <% if producto.oculto? %>
	              <div class="oculto">
	                <span>Oculto</span>
	              </div>
	            <% end   %>
	            <a href="" onclick="return false;" data-toggle="popover" data-container="body" data-content="<%= producto.descripcion %>" >
	              <%= image_tag(producto.imagen, style: "height:180px;", size: "180", class: 'group') %>
	            </a>
	            <div class="caption">
	              <h4><%= producto.nombre %></h4>
	              <p class="precio_mision">Precio misión <%= number_to_currency(producto.precio) %></p>
		            <% if producto.precio_super.present?
			            if producto.precio > producto.precio_super
			              precio_super = 0.0
			            else
			              precio_super = producto.precio_super
			            end
		            else
			              precio_super = 0.0
		            end%>

	              <p>Precio hiper <%= number_to_currency(precio_super) %></p>
	              <p>Ahorro <%= number_to_percentage(producto.ahorro) %></p>
	              <% if @ciclo_actual and usuario_signed_in? %>
	                <% if @ciclo_actual.circulos.include?(current_usuario.circulo) %>
                  	<% cantidad = producto.stock.present? ? producto.stock : producto.cantidad_permitida
                    %>
			              <select class="cantidad">
			                <% for i in 1..cantidad %>
					              <% if @carrito.producto?(producto.id) %>
			                    <option value="<%= i%>" <%= (i == @carrito.cantidad_prod(producto.id)) ?'selected':''%>><%= i %></option>
						            <% else %>
			                    <option value="<%= i %>"><%= i %></option>
			                  <% end %>
			                <% end %>
			              </select>
				            <% if @carrito.producto?(producto.id) %>

			                <%= button_tag(type: 'button',
			                               class: 'btn btn-sm btn-danger',
			                               data: {
				                                 action: 'remove',
				                                 productId: producto.id
			                               }) do %>
			                  <span class="icon-tienda glyphicon-align-left"></span> <span class="cart-action">Eliminar del</span> carro
			                <% end %>
				            <% else %>
				                <%= button_tag(type: 'button',
				                               class: 'btn btn-sm btn-success',
				                               data: {
					                                 productId: producto.id,
					                                 action: 'add'
				                               }) do %>
				                  <span class="icon-tienda glyphicon-align-left"></span> <span class="cart-action">Agregar al</span> carro
				                <% end %>
				            <% end %>
				          <% end %>
	              <% end %>
		            <% if can? [:update, :detele], producto %>
		              <div class="btn-group btn-group-justified" role="group" aria-label="modificar">
		                <div class="btn-group" role="group">
		                  <%= button_to t('.edit', :default => t("helpers.links.edit")),
		                                edit_producto_path(producto),
		                                :method => :get,
		                                :class => 'btn btn-primary'  %>
		                </div>
		              </div>
			            <p>Rubro: <%= I18n.t(producto.pack, :default => '')%></p>
		            <% end %>
	            </div>
	          </div>
	        </div>
	      <% end %>
	    </div>
    </div> <!--col-xs-12 col-md-3-->
  </div> <!--close row -->
</div> <!--close containt fill-->



<script type="text/javascript">
  $(function () {
  $('[data-toggle="popover"]').popover()
});

  $( document ).ready(function() {
	  $('.thumbnails').find('.thumbnail').uniformHeight();

	  $(window).resize(function () {
		  $('.thumbnails').find('.thumbnail').uniformHeight();
	  });
  });



</script>