<div class="validation-system">
  <div class="validation-form">
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to 'Modificar', edit_usuario_path(@usuario), class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2><%= @usuario.nombre %>  <%= @usuario.apellido %></h2>
      </div>
    </div>
    <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Fecha de nacimiento:</strong>
        <%= @usuario.fecha_de_nacimiento %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @usuario.email %>
      </p>

      <p>
        <strong>Dirección:</strong>
        <%= @usuario.calle %>
      </p>

      <p>
        <strong>Código postal:</strong>
        <%= @usuario.codigo_postal %>
      </p>

      <p>
        <strong>Ciudad:</strong>
        <%= @usuario.ciudad %>
      </p>
      <p>
        <strong>País:</strong>
        <%= @usuario.pais %>
      </p>

      <p>
        <strong>Teléfono:</strong>
        <%= @usuario.tel1 %>
      </p>

      <p>
        <strong>Celular:</strong>
        <%= @usuario.cel1 %>
      </p>

      <p>
        <strong>Tipo:</strong>
        <%= @usuario.type %>
      </p>
      <% if 1==0 %>
        <p>
          <%= link_to 'Mi cuenta con Facebook', social_session_path(:facebook) %>
        </p>
        <p>
          <%= link_to 'Login with Facebook', '/auth/facebook/' %>
        </p>
      <% end %>
    </div>
    <div class="col-md-6">
      <% if @profile.present? %>
        <%= image_tag @profile['picture']['data']['url'].to_s %>
      <% else %>
        <%= image_tag 'v2/avatar_user.png' %>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @usuario.circulo.nil? %>
        <h3>No pertenece a ningun circulo.</h3>
        <p class="label-warning">Comunicate con un coordinador de círculo para que te agregue. <br/>Recuerda que tú código de
          asociade es el: <b><%= @usuario.id%></b> </p>
      <% else %>
        <h3>Pertenece al Círculo N°: <%=@usuario.circulo_id %> </h3>


        <h3>Usuarios en tu circulo:</h3>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nro ident.</th>
            <th>Pedido</th>
            <th>Importe</th>
            <th>Factura</th>
          </tr>
          </thead>
          <tbody>
          <% @usuario.circulo.usuarios.each do |u| %>
            <tr <%= (u == current_usuario) ? 'class=strong' : '' %> >
              <td><%= u.type %></td>
              <td><%= u.nombre %></td>
              <td><%= u.apellido %></td>
              <td><%= u.id %></td>
              <td><%= u.pedido?(Compra::ciclo_actual_completo) ? '<i class="glyphicon glyphicon-ok-circle" title="Realizado"></i>'.html_safe : '<i class="glyphicon glyphicon-remove-circle" title="Pendiente"></i>'.html_safe %></td>
              <td><%= number_to_currency(u.pedido_del_ciclo(Compra::ciclo_actual_completo).try('total')) %></td>
              <% if u.pedido?(Compra::ciclo_actual_completo) &&
                File.exists?("#{Rails.public_path}/facturas/FAC_#{u.pedidos.find_by_compra_id(Compra::ciclo_actual_completo).id}.pdf") %>
                <td>
                  <%= link_to('Factura',
                              pedido_download_pdf_path(u.pedidos.find_by_compra_id(Compra::ciclo_actual_completo).id),
                              class: 'btn btn-link') %>
                </td>
              <% else %>
                <td></td>
              <% end %>

            </tr>
          <% end %>
          </tbody>
        </table>



      <% end %>
    </div>
  </div>
  </div>
</div>
<%= render 'layouts/modal' %>




