<div class="row">
  <h1>Usuarios</h1>
  <%= link_to 'Crear Usuario', new_usuario_path, class: 'btn btn-success'  %>
  <br/><br/>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Calle</th>
        <th>Codigo postal</th>
        <th>Ciudad</th>
        <th>Tel1</th>
        <th>Cel1</th>
        <th>Type</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @usuarios.each do |usuario| %>
        <tr>
          <td><%= usuario.nombre %></td>
          <td><%= usuario.apellido %></td>
          <td><%= usuario.email %></td>
          <td><%= usuario.calle %></td>
          <td><%= usuario.codigo_postal %></td>
          <td><%= usuario.ciudad %></td>
          <td><%= usuario.tel1 %></td>
          <td><%= usuario.cel1 %></td>
          <td><%= usuario.type %></td>
          <td><%= link_to 'Ver', usuario, class: 'btn btn-info btn-mini' %></td>
          <td><%= link_to 'Modificar', edit_usuario_path(usuario), class: 'btn btn-warning btn-mini' %></td>
          <td><%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger btn-mini' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Crear Usuario', new_usuario_path, class: 'btn btn-success' %>
</div>