<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
	  <% if @pedido %>
      <%= f.label :account_id, 'Cuenta N°' %>
      <%= f.text_field :account_id, value: @usuario.account.id, readonly: true, class:'form-control' %>
    <% else %>
      <%= f.label :account_id, 'Cuenta N°' %><br>
      <%= f.number_field :account_id, readonly: true, class:'form-control' %>
    <% end %>
  </div>
  <div class="field form-group">
    <% if @pedido %>
      <%= f.label :pedido_id, 'Pedido N°' %><br>
      <%= f.text_field :pedido_id, value: @pedido.id, readonly: true, class:'form-control' %>
    <% else %>
      <%= f.label :pedido_id %><br>
      <%= f.number_field :pedido_id, readonly: true, class:'form-control' %>
    <% end %>
  </div>

  <fieldset class="form-group">
    <%= f.label :transaction_type, 'Tipo de transacción', for:'transaction_type' %>
    <%= f.select(:transaction_type, options_for_select(Transaction.tipos.map{|x,y| [t(x), x]}),{}, class:'form-control', id:'transaction_type', readonly: true) %>
  </fieldset>

  <% if @pedido %>
	  <div class="field form-group">
	    <%= f.label :amount, 'Monto' %><br>
	    <%= f.number_field :amount, readonly: true, class:'form-control required' %>
	  </div>
	<% else %>
    <div class="field form-group">
      <%= f.label :amount, 'Monto' %><br>
      <%= f.number_field :amount, class:'form-control required' %>
    </div>
	<% end %>
  <% if @pedido %>
	  <div class="field form-group">
		  <%= hidden_field_tag 'hidden-description', "Transacción por el pedido N° #{@pedido.id}\n"  %>
	    <%= f.label :description, 'Descripción' %><br>
	    <%= f.text_area :description, rows:5, class:'form-control required', readonly: true %>
	  </div>
  <% else %>
    <div class="field form-group">
      <%= f.label :description, 'Descripción' %><br>
      <%= f.text_area :description, class:'form-control required' %>
    </div>
  <% end %>
  <% if @pedido.present? %>
		<div class="form-group row">
			<div class="col-md-12 text-right">
		    <div class="btn btn-default" id="additem">Agregar item manualmente</div>
		  </div>
    </div>
    <div class="form-group">
			<div id="form-add-item" class="form-add-item">
        <div class="form-group">
          <%= label_tag "prodnombre-label", "Nombre"%>
          <%= text_field_tag "prod-nombre", nil, class:'form-control' %>
        </div>

        <div class="form-group">
          <label for="prod-precio">Precio</label>
          <%= number_field_tag "prod-precio", nil, class:"form-control" %>
        </div>
			  <div class="form-group">
          <label for="prod-cantidad">Cantidad</label>
          <%= number_field_tag "prod-cantidad", nil, class:"form-control" %>
        </div>
			  <div class="btn btn-success" id="agregar">Agregar</div>
			</div>
		</div>

	  <div class="row">
		  <div class="table-responsive">
		    <table class='table table-striped', id="pord-pedidos">
		      <thead>
		      <tr>
		        <th></th>
		        <th>Producto</th>
		        <th class="text-right">Precio</th>
		        <th class="text-right">Cantidad</th>
		        <th class="text-right">Importe Total</th>
		      </tr>
		      </thead>
		      <tbody>
		      <% total = 0
		         qty = 0
		      %>
		      <% JSON.parse(@pedido.items).each do |i| %>
		        <%= render "items", i: i %>
		        <% total = total+i['total']
		           qty = qty +i['cantidad'].to_i %>
		      <% end %>
		      </tbody>
		      <tfoot>
		      <tr class="info">
		        <td></td>
		        <td></td>
		        <td class="text-right">Total</td>
		        <td class="text-right"><%= qty %></td>
		        <td class="text-right"><%= number_to_currency(total) %></td>
		      </tr>
		      </tfoot>
		    </table>
			</div>
		</div>
	<% end %>
  <br>
  <br>

  <div class="form-group row">
    <div class="text-right">
      <%= f.button type: :submit, class: 'btn btn-success' %>
    </div>
  </div>


<% end %>