<div class="agile-grids">
  <div class="agile-tables">
    <div class="w3l-table-info">
      <div class="navbar navs-fixed">
        <h2>Lista de transacciones</h2>
        <br>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Consumidor</th>
                <th>Pedido</th>
                <th>Fecha Creada</th>
                <th>Tipo de transacción</th>
                <th>Monto</th>
                <th>Descripción</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @transactions.each do |transaction| %>
                <tr>
                  <td><%= transaction.id %></td>
                  <td><%= transaction.account.usuario.present? ? transaction.account.usuario.nombre_completo : 'sin usuario' %></td>
                  <td><%= transaction.pedido_id %></td>
                  <td><%= l transaction.created_at, format: :custom %></td>
                  <td><%= transaction.transaction_type == 0 ? 'Nota de Crédito' : 'Nota de Débito'%></td>
                  <td><%= number_to_currency(transaction.amount) %></td>
                  <td><%= simple_format(transaction.description) %></td>
                  <td><%= link_to 'Editar', edit_transaction_path(transaction), class: 'btn btn-default btn-xs' if can? [:manage], Transaction %></td>
                  <td><%= link_to 'Borrar', transaction, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-default btn-xs' if can? [:manage], Transaction %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

		      <br>
	      </div>
        <% if @transactions.present? && @transactions.count > 50 %>
          <div class="row">
            <%= will_paginate @transactions, :previous_label => 'Previo', :next_label => 'Siguiente' %>
          </div>
        <% end %>
	    </div>
	  </div>
	</div>
</div>
