<div class="container fill">
  <div class="row">
    <h2><%= @transaction.transaction_type == 0 ? 'Nota de Crédito' : 'Nota de Débito'%> N°: <%= @transaction.id %></h2>
    <div class="breadcrumb">
      <%= link_to 'Editar', edit_transaction_path(@transaction) %> |
      <%= link_to 'Atras', transactions_path %>
    </div>
    <p id="notice"><%= notice %></p>

		<p>
		  <strong>Consumidor:</strong>
		  <%= Usuario.find(@transaction.account.usuario.id).nombre_completo %>
		</p>
    <% if @transaction.pedido_id.present? %>
			<p>
			  <strong>Pedido:</strong>
			  <%= @transaction.pedido_id %>
			</p>
		  <% end %>

		<p>
		  <strong>Monto:</strong>
		  <%= number_to_currency(@transaction.amount) %>
		</p>

		<p>
		  <strong>Descripción:</strong>
		  <%= simple_format(@transaction.description) %>
		</p>

	</div>
</div>
