<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Calle</th>
    <th>Ciudad</th>
    <th>Tipo</th>
    <th>Logo</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.calle if supplier.calle? %></td>
        <td><%= supplier.ciudad if supplier.ciudad? %></td>
        <td><%= supplier.nature.present? ? t(supplier.nature) : '' %></td>
        <td><%= image_tag supplier.logo.url, size: '15' if supplier.logo? %></td>
        <td><%= link_to 'Mostrar', supplier, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Modificar', edit_supplier_path(supplier), class: 'btn btn-default btn-xs' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if @suppliers.present? && @suppliers.count > 20 %>
  <div class="row">
    <%= will_paginate @suppliers %>
  </div>
<% end %>