<%= form_for(@supplier, class:'form-inline') do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, 'error') %> El proveedor no pudo ser guardado:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :name, for:'name' %>
    <%= f.text_field :name, type:'text', id:'name', class:'form-control', :required => true %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :razon_social, for:'razon_social' %>
    <%= f.text_field :razon_social, type:'text', id:'razon_social', class:'form-control' %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :logo, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :nature, for:'nature' %>
    <%= f.select(:nature, options_for_select(Supplier.natures.map{|x,y| [t(x), x]},@supplier.nature),
                 class:'form-control', id:'nature', include_blank: 'Tipo de proveedor') %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :calle, for:'calle' %>
    <%= f.text_field :calle, type:'text', id:'calle', class:'form-control', :required => true %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :ciudad, for:'ciudad' %>
    <%= f.text_field :ciudad, type:'text', id:'ciudad', class:'form-control', :required => true %>
  </fieldset>

  <div class="form-group">
    <%= f.label :email, for:'email' %>
    <%= f.text_field :email, type:'email', id:'email', class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :telefono, for:'telefono' %>
    <%= f.text_field :telefono, type:'text', id:'telefono', class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :nombre_contacto, for:'nombre_contacto' %>
    <%= f.text_field :nombre_contacto, type:'text', id:'nombre_contacto', class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :web, for:'web' %>
    <%= f.text_field :web, type:'text', id:'web', class:'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :video, for:'video' %>
    <%= f.text_field :video, type:'text', class:'form-control' %>
    <p><i>* Sólo tiene que guardar el código del video de youtube, ej: hemwyfcKIEE </i></p>
  </div>

  <div class="form-group">
    <%= f.label :description, for:'description' %><br>
    <%= f.text_area :description, row:'3', id:'description', class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
