<div class="suppliers">
  <div class="breadcrumb">
    <%= link_to 'Modificar', edit_supplier_path(@supplier) %> |
    <%= link_to 'Atras', suppliers_path %>
  </div>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nombre:</strong>
      <%= @supplier.name %>
    </p>

    <p>
      <strong>Direccion:</strong>
      <%= @supplier.address %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @supplier.nature %>
    </p>


</div>