<!-- newsletter -->
<div class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-12 w3agile_newsletter_left">
        <div class="text-center">
          <h3>Otro mercado es posible</h3>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //newsletter -->
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="col-md-3 w3_footer_grid">
      <h3>
        información <br>
        importante
      </h3>
      <ul class="w3_footer_grid_list">
        <li>
          <%= link_to(about_us_path) do %>
            Quienes somos
          <% end %>
        </li>
        <li>
          <%= link_to(como_compro_path(1)) do %>
            ¿Cómo comprar?
          <% end %>
        </li>
        <li>
          <%= link_to warehouses_path do %>
            Puntos de retiro
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-3 w3_footer_grid">
      <h3>términos y<br>condiciones</h3>
      <ul class="w3_footer_grid_list">
        <li>
          <%= link_to(faqs_path) do %>
          Preguntas frecuentes
          <% end %>
        </li>
      </ul>
    </div>
    <div class="col-md-3 w3_footer_grid">
      <h3>Contactos por <br>estos medios</h3>
      <ul class="w3_footer_grid_list1">
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</a>
        </li>
        <li>
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          <a href="https://m.me/misionantiinflacion" target="_blank">Mensaje en Facebook</a>
        </li>
        <% Warehouse.all.each do |warehouse| %>
          <li>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <b><%= warehouse.name %></b><br>
            <span><%= warehouse.description %></span>
            <a href="https://wa.me/549<%= warehouse.telephone%>" target="_blank">
              <span><%=warehouse.telephone %></span>
            </a>

          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-3 w3_footer_grid">
      <h3>Estamos en las redes</h3>
      <ul class="agileits_social_icons">
        <li>
          <a href="https://www.facebook.com/misionantiinflacion/" target="_blank" class="facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/MisionCF" target="_blank" class="twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/misionantiinflacion" target="_blank" class="instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //footer -->