<!-- header -->
<div class="row agileits_header">
  <div class="col-md-3">
    <div class="w3l_offers">
      <%= link_to 'Ciudad Futura', 'http://ciudadfutura.com.ar/', :target => '_blank' %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="col-md-9 text-right">
      <div class="product_list_header">
        <%= link_to(cart_path, class: 'prod-list') do %>
          <i class="icon-lmcart"></i>Ver Mi Compra
        <% end %>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <%= render 'layouts/user_menu' %>
    </div>

  </div>
  <div class="clearfix"> </div>
</div>

<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left">
      <h1><%= link_to root_path do%>
        <%= image_tag('v2/logoMai.png', class: 'img-responsive', width: '200px') %>
        <% end %></h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="special_items">
        <li>
          <%= link_to(como_compro_path(1)) do %>
            Cómo comprar <i>/</i>
          <% end %>
        </li>
        <li>
          <%= link_to warehouses_path do %>
            Puntos de retiro <i>/</i>
          <% end %>
        </li>
        <li>
          <%= link_to(compras_path) do %>
            Próximos Ciclos <i>/</i>
          <% end %>
        </li>
        <li>
          <%= link_to(about_us_path) do %>
            Quienes somos
          <% end %>
        </li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //header -->