<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
  <%= link_to image_tag('v2/logoCF.png', height: '25', alt: 'Ciudad Futura website', class: 'image-responsive'),
              'http://ciudadfutura.com.ar/',
              :class => 'navbar-brand justify-content-center',
              :target => '_blank' %>
  </div>
  <div class="clearfix"></div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span>
      <i class="fas fa-chevron-down" id="togglerIcon"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse justify-content-around" id="navbarTogglerDemo02">
      <%= link_to root_path do%>
        <%= image_tag('v2/misionNueva.svg', class: 'mx-auto d-block p-3', width: '300px') %>
      <% end %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to(como_compro_path(1), class: 'nav-link') do %>
            Cómo comprar
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(warehouses_path, class: 'nav-link') do %>
            Puntos de retiro
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(compras_path, class: 'nav-link') do %>
            Próximos Ciclos
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to(about_us_path, class: 'nav-link') do %>
            Quienes somos
          <% end %>
        </li>
      </ul>
    <div>
      <%= link_to(cart_path, class: 'btn btn-success') do %>
        Ver Mi Compra <i class="fas fa-shopping-cart"></i>
      <% end %>
    </div>
    <div>
      <%= render 'layouts/user_menu' %>
    </div>
  </div>
</nav>
<!-- //header -->