<!-- header -->
<div class="agileits_header">
  <div class="w3l_offers">
    <%= link_to 'Ciudad Futura', 'http://ciudadfutura.com.ar/', :target => '_blank' %>
  </div>
  <div class="w3l_search">
    <div class="products-search">
      <form action="#" method="post">
        <%= hidden_field_tag :producto_id, '', id: 'my_producto_id' %>
        <%= autocomplete_field_tag 'search', '',autocomplete_producto_nombre_productos_path, :id_element => '#my_producto_id', 'data-auto-focus' => true %>
        <div class="results" id="products-search-results"></div>
        <input type="submit" value=" ">
      </form>
    </div>
  </div>
  <div class="product_list_header">
    <%= link_to(cart_path, class: 'prod-list') do %>
      <i class="icon-lmcart"></i>Ver Mi Compra
    <% end %>
  </div>
  <%= render 'layouts/user_menu' %>
  <div class="w3l_header_right1">
    <h2><a href="mail.html">Contacto</a></h2>
  </div>
  <div class="clearfix"> </div>
</div>
<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left">
      <h1><%= link_to root_path do%>
        <%= image_tag('v2/logoMai.png', class: 'img-responsive', width: '200px') %>
        <% end %></h1>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="special_items">
        <li>
          <%= link_to(compras_path) do %>
            Ciclos <i>/</i>
          <% end %>
        </li>
        <li>
          <%= link_to(como_compro_path(1)) do %>
            Cómo comprar <i>/</i>
          <% end %>
        </li>
        <li>
          <%= link_to(suppliers_path()) do %>
            Productores
          <% end %>
          <i>/</i></li>
        <li><a href="services.html">Servicios</a></li>
      </ul>
    </div>
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>(341) 555 567</li>
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:victoriacolectiva@gmail.com">victoria@gmail.com</a></li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //header -->