<% section = get_section(request) %>
<div class="container header">
<% if usuario_signed_in? %>
		<% if current_usuario.admin? %>
			<%= render 'layouts/header_admin' %>
		<% else %>
			<%= render 'layouts/header_users' %>
		<% end %>
<% else %>
    <%= render 'layouts/header_users' %>
<% end %>
</div>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/menu' %>
  </div>
</div>
<% if request.path == '/productos' %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h1>La Tienda</h1>
			</div>
			<div class="col-md-offset-3 order-data">

					<div class="col-lg-3 order-data-title vcenter">
							<h4>Datos de tú compra</h4>
						</div>
						<div class="col-lg-3 sale-off vcenter">
							<h4>Ahorro: <span class="cart-ahorro"><%= number_to_percentage(@carrito.ahorro) %></span></h4>
						</div>
						<div class=" col-lg-3 total-qty vcenter">
							<h4>
								<span class="cart-total"><%= number_to_currency(@carrito.total) %></span><br>
								<span class="cart-cantidad"><%= pluralize(@carrito.cantidad, ' producto', ' productos') %></span>
							</h4>
						</div>
						<div class="col-lg-2 cart-link vcenter">
							<h4>
								<% if (controller.controller_name == 'carts') %>
										<%= link_to(productos_path, class: 'prod-list') do %>
												<i class="icon-lmcart"></i>Ir a la Tienda
										<% end %>
								<% else %>
										<%= link_to(cart_path, class: 'prod-list') do %>
												<i class="icon-lmcart"></i>Ver Mi Compra
										<% end %>
								<% end %>
							</h4>
						</div>
				</div>
		</div>
	</div>
<% end %>