<!-- header -->
<div class="agileits_header">
    <div class="w3l_offers">
      <%= link_to image_tag('v2/logoCF.png', alt: 'Ciudad Futura website', class: 'img-responsive'),
                  'http://ciudadfutura.com.ar/',
                  :target => '_blank' %>
    </div>
    <%= render 'layouts/user_menu' %>
</div>

<nav class="custom-navbar">
  <div class="navbar-button">
    <span class="material-symbols-outlined navbar-button" id="js-navbar-button" style="font-size: 34px;">
      menu
    </span>
  </div>
  <%= link_to root_path, class:'logo' do%>
    <%= image_tag('v2/logoMaiRojo.png', height: '40px', class: "desktop-logo") %>
    <%= image_tag('CFIconoRojo.png', height: '50px', class: "mobile-logo") %>
  <% end %>
  <ul class="main-nav" id="js-menu">
    <% if current_page?('/productos') %> 
      <%= render "layouts/menu" %>
    <% else %>
      <%= render "layouts/home_menu" %>
    <% end %>
  </ul>
  <div class="carrito">
  <%= link_to cart_path do%>
    <span class="carrito-icon">
      <i class="fa fa-shopping-cart"></i>
    </span>
  <% end %>
    <div class="aditional_data">
      <span class="badge carrito-badge" id="cant">
        <%= @carrito.cantidad%>
      </span>
      <span class="badge carrito-badge" id="ahorro">
        <%= number_to_percentage(@carrito.ahorro) %>
      </span>
      <span class="badge carrito-badge" id="total">
        <%= number_to_currency(@carrito.total) %>
      </span>
    </div>
  </div>
</nav>


<!-- //header -->