<div class="navbar navs-fixed">
    <div class="row usuario">
      <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to(root_path) do %>
                <span class="icon-home"></span>INICIO
              <% end %>
            </li>
            <li><%= link_to "ADMINISTRAR CIRCULO", circulos_path if can? :manage, Circulo  %></li>
            <li><%= link_to "PEDIDOS", pedidos_path if can? :index, Pedido %></li>
            <li>
              <%= link_to(productos_path) do %>
                  <span class="icon-lmcart"></span>Tienda
              <% end %>
            </li>
            <li><%= link_to "TIENDA", productos_path  %></li>
            <li><%= link_to "CATEGORIAS", categorias_path if can? :manage, Categoria %></li>
            <li><%= link_to "PAGO DE COMPRA", "/path3"  %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if usuario_signed_in? %>
              <li><p class="navbar-text"><%= current_usuario.email %></p></li>
              <li class="divider"></li>
              <li><%= link_to('Cerrar Sesion',
                    destroy_usuario_session_path,
                    method: 'delete') %></li>
            <% else %>
              <li><%= link_to('Registrate', new_usuario_registration_path)%></li>
              <li class="divider"></li>
              <li><%= link_to('Inicia Sesion', new_usuario_session_path)%></li>
            <% end %>
          </ul>
      </div>
    </div>
    <%= yield(:cart_menu) %>
</div>