<div class="navbar navs-fixed">
    <div class="row usuario">
      <div class="container">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <%= link_to(root_path) do %>
                <span class="icon-home"></span>INICIO
              <% end %>
            </li>
            <% if can? [:manage], circulos_path %>
                <li>
                  <%= link_to(circulos_path) do %>
                      <span class="icon-cogs"></span>Circulo
                  <% end %>
                </li>
            <% end %>
            <% if can? [:index], pedidos_path %>
            <li>
              <%= link_to(pedidos_path) do %>
                  <span class="icon-stats"></span>Pedidos
              <% end %>
            </li>
            <% end %>
            <li>
              <%= link_to(productos_path) do %>
                  <span class="icon-lmcart"></span>Tienda
              <% end %>
            </li>
            <% if can? [:manage], categorias_path %>
                <li>
                  <%= link_to(categorias_path) do %>
                    <span class="icon-key2"></span>Categorías
                    <% end %>
                </li>
            <% end %>



            <li>
              <%= link_to("/path3") do %>
                  <span class="icon-flag"></span>Pago de compra
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if usuario_signed_in? %>
              <li><p class="navbar-text"><%= current_usuario.email %></p></li>
              <li class="divider"></li>
              <li><%= link_to('Cerrar Sesion',
                    destroy_usuario_session_path,
                    method: 'delete') %></li>
            <% else %>
              <li><%= link_to('Registrate', new_usuario_registration_path)%></li>
              <li class="divider"></li>
              <li><%= link_to('Inicia Sesion', new_usuario_session_path)%></li>
            <% end %>
          </ul>
      </div>
    </div>
    <%= yield(:cart_menu) %>
</div>