
<div class='container'>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to productos_path, class: 'text-secondary'  do %>
        Todos
      <% end %>
    </li>
    <% @categorias_menu.each do |c| %>
      <% if c[:subcategorias].present? %>
      <li class="list-group-item">
        <div class="dropdown">

            <%= link_to '#', 
            class: 'dropdown-toggle text-secondary', 
            id: 'drop-menu', title: '', 
            data:{toggle: 'dropdown'},
            aria:{haspopup: 'true', expanded: 'false'} do %>

              <%= c[:nombre] %>
            <% end %>
            <div class="dropdown-menu">
              <% c[:subcategorias].each do |sm| %>
                  <%= link_to sm[:nombre], productos_path(categoria_id: c[:id], subcategoria_id: sm[:id]), class: 'dropdown-item text-secondary'%>
              <% end %>
            </div>
        </div>
      </li>
      <% else %>
        <li class="list-group-item">
          <%= link_to productos_path(categoria_id: c[:id]), class: 'text-secondary' do %>
            <%= c[:nombre] %>
          <% end %>
        </li>

      <% end %>
    <% end %>
  </ul>
</div>