<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black;">
  <%= " Hola " + current_usuario.nombre + " | "  if current_usuario.present? %>
  <i class="fa fa-user" aria-hidden="true" style="color:black;"></i>
</a>
<div class="dropdown">
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      <%= link_to(pedidos_path) do %>
        Mis Pedidos
      <% end %>
    </li>
    <li class="dropdown-item">
      <%= link_to(edit_usuario_path(current_usuario)) do %>
        Mis Datos
      <% end %>
    </li>
    <li class="dropdown-item">
      <%= link_to(usuario_path(current_usuario)) do %>
        Mi Círculo
      <% end %>
    </li>
    <li class="dropdown-item">
      <%= link_to(account_path(current_usuario.account.id)) do %>
        Mi Cta Cte
      <% end %>
    </li>
    <li class="dropdown-item">
      <%= link_to(destroy_usuario_session_path, method: 'delete') do %>
        Cerrar Sesión
      <% end %>
    </li>
  </ul>
</div>