<div class="dropdown">
  <a class="dropdown-toggle text-secondary" id="drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= " Hola " + current_usuario.nombre + " | "  if current_usuario.present? %>
    <i class="fa fa-user"></i>
  <a>
  <div class="dropdown-menu" aria-labelledby="drop">
    <%= link_to(pedidos_path, class: 'dropdown-item text-secondary') do %>
      Mis Pedidos
    <% end %>

    <%= link_to(edit_usuario_path(current_usuario), class: 'dropdown-item text-secondary') do %>
      Mis Datos
    <% end %>

    <%= link_to(usuario_path(current_usuario), class: 'dropdown-item text-secondary') do %>
      Mi Círculo
    <% end %>

    <%= link_to(account_path(current_usuario.account.id), class: 'dropdown-item text-secondary') do %>
      Mi Cta Cte
    <% end %>

    <div class="dropdown-divider"></div>

    <%= link_to(destroy_usuario_session_path, method: 'delete', class: 'dropdown-item text-secondary') do %>
      Cerrar Sesión
    <% end %>
  </div>
</div>