<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : 'Misión' %></title>
  <%= csrf_meta_tags %>


  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'admin', media: 'all', turbolinks: true %>

  <%= stylesheet_link_tag 'admin', '//fonts.googleapis.com/css?family=Roboto:100,300,400,700' %>
  <%= stylesheet_link_tag 'admin', '//fonts.googleapis.com/css?family=Montserrat:400,700' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>

  <meta name="turbolinks-cache-control" content="no-cache">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
</body>
<div class="page-container">
  <div class="left-content">
    <div class="mother-grid-inner">
      <%= render 'layouts/header_admin' %>
      <%= yield %>
      <%= render 'layouts/footer_admin' %>
    </div>
  </div>
  <%= render 'layouts/sidebar_admin' %>
  <div class="clearfix"></div>
</div>
</html>
