<!DOCTYPE html>
<html>
<head>
  <title>Misión Anti Inflación</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to cart_path do%>
  <i class="fi-shopping-cart"></i>
  Carrito
  (<span class="cart-count"><%=session[:product_ids].count%></span>)
<%end%>

<%= yield %>

</body>
</html>
