<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Misión Anti Inflación' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', :media => 'all' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'home' %>
  </head>
  <body>
    <%= render 'layouts/menu' %>

    <div class="container-fluid">

      <%= bootstrap_flash %>

      <%= yield %>


    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
