<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="La Misión" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.misionantiinflacion.com.ar/" />
    <meta property="og:image" content="<%= asset_path 'v2/og-image.png' %>" />
    <title><%= content_for?(:title) ? yield(:title) : "Mision" %></title>
    <%= csrf_meta_tags %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N7G1GH0ZEK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-N7G1GH0ZEK');
    </script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <script src="https://kit.fontawesome.com/f588ef660c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application'%>



    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>
    <%= javascript_include_tag 'application' %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body>
  <div class="container-fluid ">
    <%= render 'layouts/header'%>
    <%= render_navigation if request.path != root_path%>
    <div class="banner">
      <div class="col w3l_banner_nav_right">
        <%= yield %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container-fluid ">
	  <%= render 'layouts/footer' %>
  </div>

  </body>
</html>
