<div class="agile-grids">
  <div class="agile-tables">
    <div class="w3l-table-info">
      <div class="navbar navs-fixed">
        <%= link_to t('Crear Cuenta', :default => t("helpers.links.new")),
                    new_account_path,
                    :class => 'btn btn-primary' if can? [:manage], Account
        %>
      </div>
      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Usuario</th>
              <th>Estado</th>
              <th>Balance</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= account.id.present? ? account.id : 'Sin ID' %></td>
                <td><%= account.usuario.present? ? account.usuario.nombre_completo : 'Sin usuario' %>
                  <br><span><small>(<%= account.usuario.id %>)</small></span>
                </td>
                <td><%= account.status ? 'Activa' : 'Inactiva' %></td>
                <td><%= number_to_currency(account.total) %></td>
                <td><%= link_to 'Ver', account, class: 'btn btn-default btn-xs' %></td>
                <td><%= link_to 'Editar', edit_account_path(account), class: 'btn btn-default btn-xs' %></td>
                <td><%= link_to 'Borrar', account, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-default btn-xs' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
	    </div>
	  </div>
    <% unless @accounts.empty? %>
      <div class="row">
        <%= will_paginate @accounts %>
      </div>
    <% end %>
	</div>
</div>