<div class="container fill">
  <div class="row">
	  <% if current_usuario.admin? %>
	    <h2>Cuenta corriente: <%= @account.usuario.nombre_completo %></h2>
      <div class="breadcrumb">
        <% if current_usuario.admin? %>
          <%= link_to 'Modificar', edit_account_path(@account) %> |
        <% end %>
        <%= link_to 'Atras', accounts_path %>
      </div>
    <% else %>
      <h2>Mi Cuenta Corriente</h2>
    <% end %>
	</div>
	<div class="row">
		<p id="notice"><%= notice %></p>
	</div>

  <div class="row">
    <div class="col-md-4">
      <strong>Estado:</strong>
	    <%= @account.status ? 'Activa' : 'Inactiva' %>
	  </div>
  </div>
	<div class="row">
		<div class="col-md-2 col-md-offset-10 text-center">
	    <h4>Balance:</h4>
	    <h2><%= number_to_currency(@account.total) %></h2>
		</div>
	</div>
	<% if @account.transactions.present? %>
		<div class="row">
			<h4>Transacciones realizadas</h4>
		  <div class="table-responsive">
		    <table class="table table-striped">
		      <thead>
		      <tr>
		        <th>Pedido#</th>
		        <th>Tipo de transacción</th>
		        <th>Monto</th>
		        <th>Descripción</th>
			      <% if can? [:manage], Transaction %>
		          <th colspan="3"></th>
				    <% end %>
		      </tr>
		      </thead>

		      <tbody>
		      <% @account.transactions.each do |transaction| %>
		        <tr>
		          <td><%= transaction.pedido_id %></td>
		          <td><%= transaction.transaction_type == 0 ? 'Nota de Crédito' : 'Nota de Débito'%></td>
		          <td><%= number_to_currency(transaction.amount) %></td>
		          <td><%= simple_format(transaction.description) %></td>
		          <% if can? [:manage], Transaction %>
		            <td><%= link_to 'Ver', transaction, class: 'btn btn-default btn-xs' %></td>
		            <td><%= link_to 'Editar', edit_transaction_path(transaction), class: 'btn btn-default btn-xs' %></td>
		            <td><%= link_to 'Borrar', transaction, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-default btn-xs' %></td>
		          <% end %>
		        </tr>
		      <% end %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<% end %>
</div>
