<% content_for :title, 'Mi cuenta corriente'   %>
<% navigation_add 'Mi cuenta corriente', '#' %>
<div class="account-data">
  <div class="row">
	  <% if current_usuario.admin? %>
	    <h3>Cuenta corriente: <%= @account.usuario.nombre_completo %></h3>
      <div class="breadcrumb">
        <% if current_usuario.admin? %>
          <%= link_to 'Modificar', edit_account_path(@account) %> |
        <% end %>
        <%= link_to 'Atras', accounts_path %>
      </div>
      <div class="row">
        <div class="col-md-4">
          <strong>Estado:</strong>
          <%= @account.status ? 'Activa' : 'Inactiva' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-10 text-center">
          <h4>Balance:</h4>
          <h2><%= number_to_currency(@account.total) %></h2>
        </div>
      </div>
    <% else %>
      <h3>Mi Cuenta Corriente</h3>
    <% end %>
	</div>
	<div class="row">
		<p id="notice"><%= notice %></p>
	</div>
  <br>
  <br>
	<% if @account.transactions.present? %>
		<div class="row">
			<h4>Notas de Crédito</h4>
		  <div class="table-responsive">
		    <table class="table table-striped">
		      <thead>
		      <tr>
		        <th>#</th>
            <th>Creada en</th>
		        <th>Aplicada en</th>
		        <th>Ciclo</th>
		        <th>Monto</th>
		        <th>Descripción</th>
			      <% if can? [:manage], Transaction %>
		          <th colspan="3"></th>
				    <% end %>
		      </tr>
		      </thead>

		      <tbody>
		      <% @account.transactions.order(id: :desc).each do |transaction| %>
            <% str = '' %>
		        <tr>
		          <td><%= transaction.id %></td>
		          <td>Pedido #<%= transaction.parent_id.present? ? (link_to transaction.parent_id, pedido_path(transaction.parent_id), class: 'btn btn-link')
                        : (link_to (transaction.description.split("\r").first).gsub('Transacción por el pedido N° ', str), pedido_path((transaction.description.split("\r").first).gsub('Transacción por el pedido N° ', str)), class: 'btn btn-link') %>
              </td>
		          <td>Pedido #<%= transaction.pedido_id.present? ? (link_to transaction.pedido_id, pedido_path(transaction.pedido_id), class: 'btn btn-link') : '' %></td>
		          <td>
                <%= transaction.pedido.ciclo.present? ? transaction.pedido.ciclo.nombre : 'Sin ciclo' %><br>
                <span>
                  <small><i><%= l transaction.pedido.ciclo.fecha_inicio_compras, format: :custom %></i></small>
                </span>
              </td>
		          <td><%= number_to_currency(transaction.amount) %></td>
		          <td><%= simple_format(transaction.description) %></td>
		          <% if can? [:manage], Transaction %>
		            <td><%= link_to 'Ver', transaction, class: 'btn btn-default btn-xs' %></td>
		            <td><%= link_to 'Editar', edit_transaction_path(transaction), class: 'btn btn-default btn-xs' %></td>
		            <td><%= link_to 'Borrar', transaction, method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-default btn-xs' %></td>
		          <% end %>
		        </tr>
		      <% end %>
		      </tbody>
		    </table>
		  </div>
		</div>
		<% end %>
</div>
